## 사전 세팅

In [161]:
#크롬드라이버 경로 설정
import sys
sys.path.insert(0, '/usr/lib/chromium-browser/chromedriver')

#코랩에서 작동하도록 옵션 설정
from selenium import webdriver
options = webdriver.ChromeOptions()
options.add_argument('-headless')
options.add_argument('-no-sandbox')
options.add_argument('-disable-dev-shm-usage')

### HTTP 응답코드

내가 크롤링하고자 하는 사이트가 접속이 가능한지 불가능한지 알 수 있는 코드 <br><br>
1xx : 요청을 받았으며 작업이 진행 중인 경우 <br>
2xx : 요청 ok, 작업 ok <br>
4xx : 요청이 올바르지 않은 경우 <br>
5xx : 서버가 응답하지 않는 경우 <br><br>
즉 200 - 크롤링 가능, 그 외 - 크롤링 불가능 (세부 원인은 검색)

In [162]:
# 정보요청 라이브러리 import
import requests

In [163]:
# 국가통계포털로 정보요청
kosis = requests.get("https://kosis.kr/index/index.do")

In [164]:
#네이버로부터 받은 응답코드 출력
print("응답코드 :", kosis.status_code)

응답코드 : 200

In [9]:
# 정상적으로 정보를 받은 경우 지속, 그렇지 않은 경우 중지
kosis.raise_for_status()
print("웹 크롤링을 진행합니다.")

웹 크롤링을 진행합니다.

## Selenium

### excercise : 통계청 자료 크롤링

In [23]:
#셀레늄 라이브러리 불러오기
from selenium import webdriver

from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager

#셀레늄에서 html문서가 생성될 때까지 대기하는 함수 불러오기
from selenium.webdriver.support.ui import WebDriverWait

#셀레늄에서 조건을 걸어줄 수 있는 함수 불러오기
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [180]:
#드라이버 객체 생성
browser = webdriver.Chrome(service = Service(ChromeDriverManager().install()))

In [181]:
# kosis 사이트로 접속
browser.get('https://kosis.kr/statHtml/statHtml.do?orgId=101&tblId=DT_1HDAD02&vw_cd=MT_ZTITLE&list_id=C2_1_001_001&seqNo=&lang_mode=ko&language=kor&obj_var_id=&itm_id=&conn_path=MT_ZTITLE')

In [182]:
browser.switch_to.frame('iframe_rightMenu')
browser.switch_to.frame('iframe_centerMenu1')

In [183]:
# 시간 설정
time = browser.find_element(by = By.XPATH, value = '//*[@id="btnShow"]/div[1]/span[1]/button[1]').click()

In [184]:
# 2017, 2018, 2019, 2020년 체크
browser.find_element(by = By.XPATH, value = '//*[@id="ft-id-5"]/li[5]/span/span[3]').click()
browser.find_element(by = By.XPATH, value = '//*[@id="ft-id-5"]/li[4]/span/span[3]').click()
browser.find_element(by = By.XPATH, value = '//*[@id="ft-id-5"]/li[3]/span/span[3]').click()
browser.find_element(by = By.XPATH, value = '//*[@id="ft-id-5"]/li[2]/span/span[3]').click()

# 적용
browser.find_element(by = By.XPATH, value = '//*[@id="searchPopBtn"]/button[1]').click()

In [185]:
# 점유율 삭제
browser.find_element(by = By.XPATH, value = '//*[@id="ico_querySetting"]').click()
browser.find_element(by = By.XPATH, value = '//*[@id="ft-id-1"]/li[2]/span/span[3]').click()
browser.find_element(by = By.XPATH, value = '//*[@id="searchImg1"]/span/button').click()

In [186]:
# 파일 다운로드
browser.find_element(by = By.XPATH, value = '//*[@id="ico_download"]').click()
browser.find_element(by = By.XPATH, value = '//*[@id="pop_downgrid2"]/div[2]/div[2]/div[2]/ul/li[2]/label').click()
browser.find_element(by = By.XPATH, value = '//*[@id="pop_downgrid2"]/div[2]/div[3]/span[1]/a').click()

## Table 불러오기

In [140]:
import os

os.chdir('C:\\Users\\rbden\\OneDrive\\바탕 화면\\Univ\\R & Python\\Python\\Pythondata')

import pandas as pd

df = pd.read_csv('소득분위별_부채비율.csv' , encoding = 'cp949')

df

,소득분위별(1),"자산, 부채, 순자산별(1)",2017,2018,2019,2020,2021
0,소득분위별(1),"자산, 부채, 순자산별(1)",보유액(평균) (만원),보유액(평균) (만원),보유액(평균) (만원),보유액(평균) (만원),보유액(평균) (만원)
1,전체,자산,38671,42036,43191,44543,50253
2,전체,부채,7099,7668,7910,8256,8801
3,전체,순자산,31572,34368,35281,36287,41452
4,소득 1분위,자산,12420,13522,13146,13629,16456
5,소득 1분위,부채,1514,1613,1610,1752,1755
6,소득 1분위,순자산,10906,11909,11535,11877,14701
7,소득 2분위,자산,21994,23629,23780,25523,28637
8,소득 2분위,부채,3684,3846,3735,4056,4441
9,소득 2분위,순자산,18310,19783,20045,21467,24196
10,소득 3분위,자산,31735,34849,35464,36076,39680
11,소득 3분위,부채,6097,6618,6653,6851,7189
12,소득 3분위,순자산,25638,28230,28811,29225,32491
13,소득 4분위,자산,44109,46668,48891,49422,56692
14,소득 4분위,부채,8696,9113,9838,9975,10942
15,소득 4분위,순자산,35413,37555,39053,39447,45750
16,소득 5분위,자산,83094,91492,94663,98054,109791
17,소득 5분위,부채,15503,17146,17712,18645,19679
18,소득 5분위,순자산,67591,74346,76950,79409,90112

In [145]:
df_2 = df.set_index(['소득분위별(1)' , '자산, 부채, 순자산별(1)'])

df_2

                                  2017          2018          2019  \
소득분위별(1) 자산, 부채, 순자산별(1)
소득분위별(1) 자산, 부채, 순자산별(1)  보유액(평균) (만원)  보유액(평균) (만원)  보유액(평균) (만원)
전체       자산                      38671         42036         43191
         부채                       7099          7668          7910
         순자산                     31572         34368         35281
소득 1분위   자산                      12420         13522         13146
         부채                       1514          1613          1610
         순자산                     10906         11909         11535
소득 2분위   자산                      21994         23629         23780
         부채                       3684          3846          3735
         순자산                     18310         19783         20045
소득 3분위   자산                      31735         34849         35464
         부채                       6097          6618          6653
         순자산                     25638         28230         28811
소득 4분위   자산                      44109         46668         48891
         부채                       8696          9113          9838
         순자산                     35413         37555         39053
소득 5분위   자산                      83094         91492         94663
         부채                      15503         17146         17712
         순자산                     67591         74346         76950

                                  2020          2021
소득분위별(1) 자산, 부채, 순자산별(1)
소득분위별(1) 자산, 부채, 순자산별(1)  보유액(평균) (만원)  보유액(평균) (만원)
전체       자산                      44543         50253
         부채                       8256          8801
         순자산                     36287         41452
소득 1분위   자산                      13629         16456
         부채                       1752          1755
         순자산                     11877         14701
소득 2분위   자산                      25523         28637
         부채                       4056          4441
         순자산                     21467         24196
소득 3분위   자산                      36076         39680
         부채                       6851          7189
         순자산                     29225         32491
소득 4분위   자산                      49422         56692
         부채                       9975         10942
         순자산                     39447         45750
소득 5분위   자산                      98054        109791
         부채                      18645         19679
         순자산                     79409         90112