# 성별에 따른 데이터 분석

In [1]:
import numpy as np
import pandas as pd
data = pd.read_csv("data.csv")
data.drop(["index"], axis=1, inplace=True)
data.drop(["QaA", "QaE", "QdA", "QdE", "QgA", "QgE", "QiA", "QiE", "QlA", "QlE", "QnA", "QnE", "QpA", "QpE", "QtA", "QtE"], axis=1, inplace=True)
data.head()

,QbA,QbE,QcA,QcE,QeA,QeE,QfA,QfE,QhA,QhE,...,wr_04,wr_05,wr_06,wr_07,wr_08,wr_09,wr_10,wr_11,wr_12,wr_13
0,4.0,1370,5.0,997,2.0,1577,5.0,539,4.0,1095,...,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0
1,5.0,1313,3.0,3387,1.0,4320,3.0,2190,1.0,4082,...,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0
2,1.0,1480,1.0,1021,5.0,1333,1.0,531,1.0,1016,...,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0
3,3.0,2311,4.0,992,1.0,357,2.0,1519,3.0,2275,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0
4,1.0,707,5.0,556,1.0,1014,2.0,628,1.0,1259,...,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0

## 1. 성별에 따른 성격 (△)

*   외향성인 tp01, 개방성인 tp05, 관습적인 성격인 tp10은 성별에 따른 성격 차이가 나타나지 않을 것으로 예상된다.
*  반면, tp02인 비판적이고 다투기 좋아하는 성격은 남성이, tp03인 남에게 의존하는 성격은 여성이, tp04인 불안해하고 쉽게 속상해하는 성격은 여성이, tp06인 조용한 성격은 여성이, tp07인 따뜻하고 동정심 있는 성격은 여성이, tp08인 체계적이지 못한 성격은 남성이, 마지막으로 tp09인 차분한 성격은 여성이 높을 것으로 예상된다.

In [ ]:
pivot1 = pd.pivot_table(data = data, index = "tp01", columns = "gender", aggfunc = "size", fill_value = 0)
pivot1['Female_percent'] = (pivot1['Female']/pivot1['Female'].sum()) * 100
pivot1['Male_percent'] = (pivot1['Male']/pivot1['Male'].sum()) * 100
pivot1

gender  Female  Male  Female_percent  Male_percent
tp01
0         2328  2455       10.921886     10.137507
1         4454  4560       20.896083     18.829748
2         3889  3988       18.245367     16.467771
3         1505  2187        7.060755      9.030846
4         2725  3175       12.784424     13.110625
5         3622  4320       16.992728     17.838708
6         2649  3392       12.427868     14.006690
7          143   140        0.670889      0.578106

In [ ]:
pivot2 = pd.pivot_table(data = data, index = "tp02", columns = "gender", aggfunc = "size", fill_value = 0)
pivot2['Female_percent'] = (pivot2['Female']/pivot2['Female'].sum()) * 100
pivot2['Male_percent'] = (pivot2['Male']/pivot2['Male'].sum()) * 100
pivot2

gender  Female  Male  Female_percent  Male_percent
tp02
0         1745  3693        8.186723     15.249618
1         3544  5664       16.626789     23.388529
2         6077  6421       28.510439     26.514432
3         1832  2089        8.594886      8.626172
4         2255  1943       10.579404      8.023289
5         3028  2312       14.205958      9.547012
6         2682  1932       12.582688      7.977867
7          152   163        0.713113      0.673081

In [ ]:
pivot3 = pd.pivot_table(data = data, index = "tp03", columns = "gender", aggfunc = "size", fill_value = 0)
pivot3['Female_percent'] = (pivot3['Female']/pivot3['Female'].sum()) * 100
pivot3['Male_percent'] = (pivot3['Male']/pivot3['Male'].sum()) * 100
pivot3

gender  Female  Male  Female_percent  Male_percent
tp03
0         5488  6079       25.747126     25.102201
1         6580  6908       30.870279     28.525416
2         4054  4723       19.019470     19.502829
3         1513  1970        7.098288      8.134781
4         1878  2175        8.810697      8.981294
5         1071  1444        5.024631      5.962753
6          576   712        2.702322      2.940083
7          155   206        0.727187      0.850642

In [ ]:
pivot4 = pd.pivot_table(data = data, index = "tp04", columns = "gender", aggfunc = "size", fill_value = 0)
pivot4['Female_percent'] = (pivot4['Female']/pivot4['Female'].sum()) * 100
pivot4['Male_percent'] = (pivot4['Male']/pivot4['Male'].sum()) * 100
pivot4

gender  Female  Male  Female_percent  Male_percent
tp04
0         3473  1964       16.293690      8.110005
1         3770  2982       17.687075     12.313664
2         5187  5002       24.334975     20.654912
3         1684  2026        7.900540      8.366024
4         2073  2681        9.725545     11.070735
5         2824  4453       13.248886     18.387909
6         2149  4929       10.082102     20.353471
7          155   180        0.727187      0.743280

In [ ]:
pivot5 = pd.pivot_table(data = data, index = "tp05", columns = "gender", aggfunc = "size", fill_value = 0)
pivot5['Female_percent'] = (pivot5['Female']/pivot5['Female'].sum()) * 100
pivot5['Male_percent'] = (pivot5['Male']/pivot5['Male'].sum()) * 100
pivot5

gender  Female  Male  Female_percent  Male_percent
tp05
0         7213  8559       33.840019     35.342941
1         6597  7084       30.950035     29.252178
2         4268  4507       20.023458     18.610893
3         1205  1545        5.653296      6.379816
4         1139  1374        5.343655      5.673700
5          554   689        2.599109      2.845109
6          203   304        0.952381      1.255317
7          136   155        0.638048      0.640046

In [ ]:
pivot6 = pd.pivot_table(data = data, index = "tp06", columns = "gender", aggfunc = "size", fill_value = 0)
pivot6['Female_percent'] = (pivot6['Female']/pivot6['Female'].sum()) * 100
pivot6['Male_percent'] = (pivot6['Male']/pivot6['Male'].sum()) * 100
pivot6

gender  Female  Male  Female_percent  Male_percent
tp06
0         3606  5306       16.917664     21.910228
1         3800  4840       17.827821     19.985960
2         4594  4851       21.552897     20.031383
3         1898  2228        8.904527      9.200149
4         2462  2252       11.550551      9.299253
5         2353  2311       11.039174      9.542883
6         2466  2270       11.569317      9.373581
7          136   159        0.638048      0.656564

In [ ]:
pivot7 = pd.pivot_table(data = data, index = "tp07", columns = "gender", aggfunc = "size", fill_value = 0)
pivot7['Female_percent'] = (pivot7['Female']/pivot7['Female'].sum()) * 100
pivot7['Male_percent'] = (pivot7['Male']/pivot7['Male'].sum()) * 100
pivot7

gender  Female  Male  Female_percent  Male_percent
tp07
0         6371  3440       29.889749     14.204897
1         5965  5724       27.984987     23.636289
2         4124  5790       19.347877     23.908824
3         1599  2740        7.501759     11.314366
4         1442  2526        6.765189     10.430689
5          965  2164        4.527328      8.935871
6          687  1658        3.223082      6.846430
7          162   175        0.760028      0.722633

In [ ]:
pivot8 = pd.pivot_table(data = data, index = "tp08", columns = "gender", aggfunc = "size", fill_value = 0)
pivot8['Female_percent'] = (pivot8['Female']/pivot8['Female'].sum()) * 100
pivot8['Male_percent'] = (pivot8['Male']/pivot8['Male'].sum()) * 100
pivot8

gender  Female  Male  Female_percent  Male_percent
tp08
0         1354  1830        6.352334      7.556675
1         2025  2836        9.500352     11.710782
2         4515  5285       21.182266     21.823512
3         1772  2193        8.313394      9.055622
4         2732  2998       12.817265     12.379733
5         3831  4108       17.973258     16.963290
6         4899  4752       22.983814     19.622579
7          187   215        0.877316      0.887806

In [ ]:
pivot9 = pd.pivot_table(data = data, index = "tp09", columns = "gender", aggfunc = "size", fill_value = 0)
pivot9['Female_percent'] = (pivot9['Female']/pivot9['Female'].sum()) * 100
pivot9['Male_percent'] = (pivot9['Male']/pivot9['Male'].sum()) * 100
pivot9

gender  Female  Male  Female_percent  Male_percent
tp09
0         2714  6085       12.732817     25.126977
1         4612  6147       21.637345     25.382995
2         4006  3863       18.794276     15.951604
3         2464  2580       11.559934     10.653673
4         3587  2741       16.828525     11.318495
5         2301  1625       10.795215      6.710162
6         1495  1026        7.013840      4.236693
7          136   150        0.638048      0.619400

In [ ]:
pivot10 = pd.pivot_table(data = data, index = "tp10", columns = "gender", aggfunc = "size", fill_value = 0)
pivot10['Female_percent'] = (pivot10['Female']/pivot10['Female'].sum()) * 100
pivot10['Male_percent'] = (pivot10['Male']/pivot10['Male'].sum()) * 100
pivot10

gender  Female  Male  Female_percent  Male_percent
tp10
0          580   866        2.721088      3.576000
1         1008  1396        4.729064      5.764546
2         1966  2561        9.223551     10.575216
3         1979  2490        9.284541     10.282033
4         3294  3725       15.453906     15.381757
5         5225  5477       24.513254     22.616344
6         7088  7511       33.253577     31.015402
7          175   191        0.821018      0.788702

성별에 따른 성격 차이를 퍼센트를 이용하여 분석해보았을때, 예상(직관)했던 성격 특징들에서 모두 예상과 일치하는 결과가 나오지는 않았지만 tp02, tp04, tp07, tp09 총 4가지 성격에서 성별 간 차이가 나타났다. 
*  tp02인 비판적이고 다투기 좋아하는 성격은 가장 강력하게 동의하는 0과 1에서 남성의 비율이 여성의 비율의 약 2배에 해당하는 것을 볼 수 있다.
*  tp04인 불안해하고 쉽게 속상해하는 성격은 가장 강력하게 동의하는 0에서 여성이 약 2배의 퍼센트 비율을 차지했고, 1과 2에서도 약 5%, 4%씩 높은 비율을 차지한 것으로 나타났다.
*  tp07 동정심 있고 따뜻한 성격은 가장 강력하게 동의하는 0에서 약 2배 이상의 비율로 여성이 남성보다 강력하게 동의했으며, 1에서도 약 5%의 차이로 여성이 높게 동의하는 경향이 나타났다.
*  마지막으로 tp09의 경우 차분하고 정서적으로 안정된 성격은 가장 강력하게 동의하는 0에서 남성이 여성에 비해 2배의 높은 퍼센트를 차지하는 것으로 나타났다.

tp02, tp04, tp07에서는 예상과 일치하는 결과가 나타났지만, tp09는 여성이 높을 것이라고 예상한 것과 반대로 남성이 높은 것으로 나타났다.

##2. 교육수준 (X)

대학까지는 성별 차이 없이 비슷할 것으로 예상되지만 그 이후의 교육수준은 여성이 남성에 비해 비율이 높게 나타날 것으로 예상된다.

In [ ]:
pivot11 = pd.pivot_table(data = data, index = "education", columns = "gender", aggfunc = "size", fill_value = 0)
pivot11['Female_percent'] = (pivot11['Female']/pivot11['Female'].sum()) * 100
pivot11['Male_percent'] = (pivot11['Male']/pivot11['Male'].sum()) * 100
pivot11 = pivot11.drop([0], axis=0)
pivot11

gender     Female  Male  Female_percent  Male_percent
education
1            2373  2715       11.133005     11.211133
2            7470  9365       35.045742     38.671181
3            7365  7862       34.553132     32.464797
4            3861  3993       18.114004     16.488417

하지만 예상과는 다르게, 각 선택지 별 남녀 비율이 거의 정확히 일치하는 것이 드러났다.

##3. 혼인 상태 (△)

여성이 남성에 비해 혼인한 상태일 확률이 더 높을 것으로 예상되었다. 특히, 성격에서 비판적이고 다투기 좋아하는 성격에 강력하게 동의하는 비율이 남성이 여성에 비해 2배 정도 높았기 때문에 남성은 결혼 상태를 유지하기 어려울 것이라고 예상되었다.

In [ ]:
pivot12 = pd.pivot_table(data = data, index = "married", columns = "gender", aggfunc = "size", fill_value = 0)
pivot12['Female_percent'] = (pivot12['Female']/pivot12['Female'].sum()) * 100
pivot12['Male_percent'] = (pivot12['Male']/pivot12['Male'].sum()) * 100
pivot12 = pivot12.drop([0], axis=0)
pivot12

gender   Female   Male  Female_percent  Male_percent
married
1         13816  17734       64.818203     73.229549
2          4962   5097       23.279381     21.047198
3          2492   1338       11.691297      5.525044

한번도 혼인을 하지 않았다고 응답한 비율이 남성이 여성에 비해 약 9%가 높은 것으로 나타났고, 혼인한 상태라고 응답한 비율은 여성이 2%, 이전에 혼인했던 경험이 있다고 응답한 비율은 여성이 6%비율로 높았다. 따라서, 크게 유의미한 결과라고 보기는 어렵지만 어느 정도는 남성이 여성에 비해 초혼 비율이 떨어진다는 것을 알 수 있다.

##4. 질문 답하는 데 걸린 시간 (O)

여성이 남성에 비해 더 신중할 것으로 예상되어 질문을 답하는 데 걸리는 평균 시간이 더 오래 걸릴 것으로 예상되었다.

In [ ]:
data['gender']

0        Female
1        Female
2          Male
3        Female
4          Male
          ...
45527    Female
45528      Male
45529    Female
45530      Male
45531      Male
Name: gender, Length: 45532, dtype: object

In [ ]:
data['mean_time']=(data.QbE+data.QcE+data.QeE+data.QfE+data.QhE+data.QjE+data.QkE+data.QmE+data.QoE+data.QqE+data.QrE+data.QsE)/12
pivot13 = pd.pivot_table(data,values='mean_time',index='gender',aggfunc=np.mean)
pivot13

          mean_time
gender
Female  1844.917523
Male    2277.318420

평균적으로 질문에 응답하는 데 걸린 시간은 여성보다 남성이 긴 것으로 나타났다. 이는 여성이 남성보다 더 신중하게 고민하여 응답시간이 길어질 것이라는 예상과 어긋나는 반대의 결과라는 것을 알 수 있다.

##5. 나머지 변수들

나머지 변수들과 관련해서는 성별 간의 큰 차이가 나타나지 않을 것으로 예상되었다. 따라서 이 예상이 맞는지 확인하기 위하여 모든 변수들에 대해 성별 간 차이를 알아보았다.

###5.1 질문 응답 (O)

In [ ]:
pivot14 = pd.pivot_table(data = data, index = "QbA", columns = "gender", aggfunc = "size", fill_value = 0)
pivot14['Female_percent'] = (pivot14['Female']/pivot14['Female'].sum()) * 100
pivot14['Male_percent'] = (pivot14['Male']/pivot14['Male'].sum()) * 100
pivot15 = pd.pivot_table(data = data, index = "QcA", columns = "gender", aggfunc = "size", fill_value = 0)
pivot15['Female_percent'] = (pivot15['Female']/pivot15['Female'].sum()) * 100
pivot15['Male_percent'] = (pivot15['Male']/pivot15['Male'].sum()) * 100
pivot16 = pd.pivot_table(data = data, index = "QeA", columns = "gender", aggfunc = "size", fill_value = 0)
pivot16['Female_percent'] = (pivot16['Female']/pivot16['Female'].sum()) * 100
pivot16['Male_percent'] = (pivot16['Male']/pivot16['Male'].sum()) * 100
pivot17 = pd.pivot_table(data = data, index = "QfA", columns = "gender", aggfunc = "size", fill_value = 0)
pivot17['Female_percent'] = (pivot17['Female']/pivot17['Female'].sum()) * 100
pivot17['Male_percent'] = (pivot17['Male']/pivot17['Male'].sum()) * 100
pivot18 = pd.pivot_table(data = data, index = "QhA", columns = "gender", aggfunc = "size", fill_value = 0)
pivot18['Female_percent'] = (pivot18['Female']/pivot18['Female'].sum()) * 100
pivot18['Male_percent'] = (pivot18['Male']/pivot18['Male'].sum()) * 100
pivot19 = pd.pivot_table(data = data, index = "QjA", columns = "gender", aggfunc = "size", fill_value = 0)
pivot19['Female_percent'] = (pivot19['Female']/pivot19['Female'].sum()) * 100
pivot19['Male_percent'] = (pivot19['Male']/pivot19['Male'].sum()) * 100
pivot20 = pd.pivot_table(data = data, index = "QkA", columns = "gender", aggfunc = "size", fill_value = 0)
pivot20['Female_percent'] = (pivot20['Female']/pivot20['Female'].sum()) * 100
pivot20['Male_percent'] = (pivot20['Male']/pivot20['Male'].sum()) * 100
pivot21 = pd.pivot_table(data = data, index = "QmA", columns = "gender", aggfunc = "size", fill_value = 0)
pivot21['Female_percent'] = (pivot21['Female']/pivot21['Female'].sum()) * 100
pivot21['Male_percent'] = (pivot21['Male']/pivot21['Male'].sum()) * 100
pivot22 = pd.pivot_table(data = data, index = "QoA", columns = "gender", aggfunc = "size", fill_value = 0)
pivot22['Female_percent'] = (pivot22['Female']/pivot22['Female'].sum()) * 100
pivot22['Male_percent'] = (pivot22['Male']/pivot22['Male'].sum()) * 100
pivot23 = pd.pivot_table(data = data, index = "QqA", columns = "gender", aggfunc = "size", fill_value = 0)
pivot23['Female_percent'] = (pivot23['Female']/pivot23['Female'].sum()) * 100
pivot23['Male_percent'] = (pivot23['Male']/pivot23['Male'].sum()) * 100
pivot24 = pd.pivot_table(data = data, index = "QrA", columns = "gender", aggfunc = "size", fill_value = 0)
pivot24['Female_percent'] = (pivot24['Female']/pivot24['Female'].sum()) * 100
pivot24['Male_percent'] = (pivot24['Male']/pivot24['Male'].sum()) * 100
pivot25 = pd.pivot_table(data = data, index = "QsA", columns = "gender", aggfunc = "size", fill_value = 0)
pivot25['Female_percent'] = (pivot25['Female']/pivot25['Female'].sum()) * 100
pivot25['Male_percent'] = (pivot25['Male']/pivot25['Male'].sum()) * 100

In [ ]:
dfs1 = [pivot14, pivot15, pivot16]
pd.concat(dfs1, axis=1)

gender,Female,Male,Female_percent,Male_percent,Female,Male,Female_percent,Male_percent,Female,Male,Female_percent,Male_percent
1.0,7525,5902,35.303777,24.371309,3367,2442,15.796388,10.083825,6683,11098,31.353507,45.827311
2.0,4066,3764,19.075768,15.542801,3461,2700,16.237392,11.149193,5319,5140,24.954258,21.224759
3.0,1901,2151,8.918602,8.882190,1827,1769,8.571429,7.304786,4065,3256,19.071077,13.445101
4.0,4309,5803,20.215810,23.962506,5825,6170,27.328173,25.477970,2777,2199,13.028384,9.080398
5.0,3514,6597,16.486043,27.241194,6835,11136,32.066620,45.984226,2471,2524,11.592775,10.422431

In [ ]:
dfs2 = [pivot17, pivot18, pivot19]
pd.concat(dfs2, axis=1)

gender,Female,Male,Female_percent,Male_percent,Female,Male,Female_percent,Male_percent,Female,Male,Female_percent,Male_percent
1.0,7232,12345,33.929158,50.976587,11436,9185,53.652357,37.927902,3078,2052,14.440535,8.473386
2.0,6656,6138,31.226836,25.345831,3331,3838,15.627492,15.848371,3695,3001,17.335210,12.392121
3.0,1879,1784,8.815388,7.366726,2537,3516,11.902416,14.518727,2376,2704,11.147080,11.165710
4.0,2904,2020,13.624208,8.341248,2310,3712,10.837438,15.328075,6441,7650,30.218156,31.589379
5.0,2644,1930,12.404410,7.969608,1701,3966,7.980296,16.376925,5725,8810,26.859019,36.379403

In [ ]:
dfs3 = [pivot20, pivot21, pivot22]
pd.concat(dfs3, axis=1)

gender,Female,Male,Female_percent,Male_percent,Female,Male,Female_percent,Male_percent,Female,Male,Female_percent,Male_percent
1.0,1043,3339,4.893268,13.787835,3483,2456,16.340605,10.141636,5079,3772,23.828290,15.575835
2.0,1735,3453,8.139808,14.258579,3721,2679,17.457190,11.062477,4326,3474,20.295567,14.345295
3.0,2313,3743,10.851513,15.456085,2482,2372,11.644382,9.794772,2387,2501,11.198686,10.327456
4.0,4134,4666,19.394792,19.267457,7116,8080,33.384940,33.364992,5706,6887,26.769880,28.438700
5.0,12090,9016,56.720619,37.230045,4513,8630,21.172883,35.636123,3817,7583,17.907577,31.312714

In [ ]:
dfs4 = [pivot23, pivot24, pivot25]
pd.concat(dfs4, axis=1)

gender,Female,Male,Female_percent,Male_percent,Female,Male,Female_percent,Male_percent,Female,Male,Female_percent,Male_percent
1.0,4001,7030,18.770819,29.029194,3557,7233,16.687779,29.867448,3725,2938,17.475956,12.131973
2.0,4208,5014,19.741966,20.704464,4942,5963,23.185550,24.623199,2943,2357,13.807178,9.732832
3.0,3770,4283,17.687075,17.685923,3419,3611,16.040347,14.911013,3744,3645,17.565095,15.051410
4.0,5361,5071,25.151302,20.939836,4972,4194,23.326296,17.318413,6538,7483,30.673235,30.899781
5.0,3975,2819,18.648839,11.640583,4425,3216,20.760028,13.279927,4365,7794,20.478536,32.184003

질문들에서는 성별 간의 차이가 크게 나타나지 않을 것으로 예상했지만, 예상 외로 많은 질문 문항에서 남성과 여성의 답변에서 차이가 나타났다. 
*  Qb 질문에서는 동의하지 않는 비율이 여성이 약 11% 높았고, 동의하는 비율은 11% 낮았다.
*  Qc 질문에서는 동의하지 않는 비율이 여성이 남성에 비해 각각 5% 정도씩 높은 반면, 동의하는 비율은 남성이 13% 가량 높았다. 
*  Qe에서는 동의하지 않는 비율이 남성이 약 14% 가량 높게 나타났다.
*  Qf 질문은 동의하지 않는 비율이 남성이 여성에 비해 17%가량 높은 것으로 나타났으며, 남성의 절반 이상이 동의하지 않는다는 응답을 선택한 것을 알 수 있다.
*  Qh 질문은 여성이 남성에 비해 동의하지 않는 비율이 약 16% 높으며, 여성의 과반수가 동의하지 않는 응답을 선택하였다.
*  Qj 질문은 크게 차이나지는 않지만 동의하지 않는 비율이 여성이 남성에 비해 5~6% 가량 높게 나타났으며, 반대로 동의하는 비율은 10% 가량 적게 나타났다.
*  Qk 질문에서는 동의하지 않는 비율이 여성에 비해 남성이 9% 높으며, 동의하는 비율은 여성이 약 19% 높았으며, 절반 이상이 동의하는 것으로 나타났다.
*  Qm 질문은 동의하지 않는 비율이 여성이 남성에 비해 6% 높으며, 동의하는 비율은 남성이 14% 가량 높은 것으로 나타났다.
*  Qo 질문은 동의하지 않는 비율이 여성이 8% 높은 반면, 동의하지 않는 비율은 남성이 14% 가량 높은 것으로 나타났다.
*  Qq 질문은 남성이 여성에 비해 11% 높은 비율로 동의하지 않는다는 응답을 했고, 반대로 여성이 남성에 비해 7% 높은 비율로 동의한다는 응답을 했다.
*  Qr 질문에서는 남성이 여성에 비해 13% 더 동의하지 않는다는 응답을 했고, 여성이 남성에 비해 7% 더 높은 비율로 동의한다는 응답을 했다.
*  Qs 질문에서는 동의하지 않는 비율은 큰 차이가 나타나지 않고 여성이 남성에 비해 5% 높게 나온 반면, 남성이 여성에 비해 12%의 높은 비율로 동의하는 것으로 나타났다.

따라서, 모든 질문들에서 적어도 5%에서 많게는 19%의 차이로 남성과 여성의 응답 비율에 차이가 나타났다.

### 5.2 연령대 (X)

In [ ]:
data2 = pd.DataFrame({
    'age': data['age_group'],
    'gender' : data['gender']
})
data2

       age  gender
0      30s  Female
1      20s  Female
2      30s    Male
3      20s  Female
4      20s    Male
...    ...     ...
45527  10s  Female
45528  30s    Male
45529  10s  Female
45530  40s    Male
45531  20s    Male

[45532 rows x 2 columns]

In [ ]:
data2.groupby(['gender','age']).size()

gender  age
Female  +70s     100
        10s     6414
        20s     6018
        30s     3826
        40s     2733
        50s     1608
        60s      616
Male    +70s     135
        10s     7801
        20s     8094
        30s     4010
        40s     2318
        50s     1281
        60s      578
dtype: int64

위 결과에서 볼 수 있듯이, 성별에 따른 연령대는 여성과 남성 모두 비슷한 비율로 분포되어 있는 것을 알 수 있다. (성별 간 차이 X)

### 5.3 모국어가 영어인지 여부 (X)

In [ ]:
pivot26 = pd.pivot_table(data = data, index = "engnat", columns = "gender", aggfunc = "size", fill_value = 0)
pivot26['Female_percent'] = (pivot26['Female']/pivot26['Female'].sum()) * 100
pivot26['Male_percent'] = (pivot26['Male']/pivot26['Male'].sum()) * 100
pivot26 = pivot26.drop([0], axis=0)
pivot26

gender  Female   Male  Female_percent  Male_percent
engnat
1        16182  16842       75.918367     69.546187
2         5099   7332       23.922121     30.276252

무응답자를 제외한 데이터를 분석해본 결과, 모국어가 영어인 비율은 여성이 75%로 남성 69%에 비해 약간은 높았지만 큰 차이가 나타나지는 않았다. 응답자들 중 약 4분의 3이 모국어가 영어인 것으로 나타났다.

### 5.4 가족 구성원 수 (X)

In [ ]:
pivot27 = pd.pivot_table(data = data, index = "familysize", columns = "gender", aggfunc = "size", fill_value = 0)
pivot27['Female_percent'] = (pivot27['Female']/pivot27['Female'].sum()) * 100
pivot27['Male_percent'] = (pivot27['Male']/pivot27['Male'].sum()) * 100
pivot27

gender      Female  Male  Female_percent  Male_percent
familysize
0              508   709        2.383298      2.927695
1             3056  3479       14.337321     14.365941
2             8108  9810       38.038940     40.508734
3             5386  5870       25.268590     24.239171
4             2393  2514       11.226836     10.381137
5              981   981        4.602393      4.050873
6              404   434        1.895379      1.792129
7              198   189        0.928923      0.780443
8              122    99        0.572367      0.408804
9               69    57        0.323716      0.235372
10              27    32        0.126671      0.132139
11              30     9        0.140746      0.037164
12               8    13        0.037532      0.053681
13               7     4        0.032841      0.016517
14               5     4        0.023458      0.016517
15               7     1        0.032841      0.004129
16               1     1        0.004692      0.004129
17               2     1        0.009383      0.004129
18               0     1        0.000000      0.004129
20               0     2        0.000000      0.008259
21               0     2        0.000000      0.008259
30               1     0        0.004692      0.000000
34               0     1        0.000000      0.004129
44               2     1        0.009383      0.004129
100              0     1        0.000000      0.004129
999              0     1        0.000000      0.004129
2147483647       0     1        0.000000      0.004129

가족 구성원의 수 역시 성별 간 차이가 나타나지 않았다. 심지어 모든 응답에서 약 0~2% 차이만 보인 채 비슷한 비율을 유지하는 것을 볼 수 있었다.

### 5.5 필기하는 손 (X)

In [ ]:
pivot28 = pd.pivot_table(data = data, index = "hand", columns = "gender", aggfunc = "size", fill_value = 0)
pivot28['Female_percent'] = (pivot28['Female']/pivot28['Female'].sum()) * 100
pivot28['Male_percent'] = (pivot28['Male']/pivot28['Male'].sum()) * 100
pivot28 = pivot28.drop([0], axis=0)
pivot28

gender  Female   Male  Female_percent  Male_percent
hand
1        18542  20516       86.990382     84.717347
2         1932   2760        9.064039     11.396953
3          773    848        3.626554      3.501672

필기하는 손도 대부분 오른손 잡이로, 여성과 남성 사이에 2% 차이만 존재하였고, 왼손 잡이 또한 2% 차이를 보였으며 양손 잡이는 거의 일치하는 비율이 나타났다.

###5.6 인종 (X)

In [ ]:
data3 = pd.DataFrame({
    'race': data['race'],
    'gender' : data['gender']
})
data3

        race  gender
0      White  Female
1      Asian  Female
2      White    Male
3      Asian  Female
4      White    Male
...      ...     ...
45527  White  Female
45528  White    Male
45529  White  Female
45530  White    Male
45531  White    Male

[45532 rows x 2 columns]

In [ ]:
data3.groupby(['gender','race']).size()

gender  race
Female  Arab                       149
        Asian                     3234
        Black                     1008
        Indigenous Australian       37
        Native American            274
        Other                     2144
        White                    14469
Male    Arab                       202
        Asian                     3600
        Black                     1160
        Indigenous Australian       16
        Native American            274
        Other                     2186
        White                    16779
dtype: int64

인종 또한 예상과 일치하게 성별 간의 큰 차이가 존재하지 않았다.

###5.7 종교 (△)

In [ ]:
data4 = pd.DataFrame({
    'religion': data['religion'],
    'gender' : data['gender']
})
data4

              religion  gender
0                Other  Female
1                Hindu  Female
2                Other    Male
3                Hindu  Female
4             Agnostic    Male
...                ...     ...
45527           Jewish  Female
45528          Atheist    Male
45529  Christian_Other  Female
45530          Atheist    Male
45531         Agnostic    Male

[45532 rows x 2 columns]

In [ ]:
data4.groupby(['gender','religion']).size()

gender  religion
Female  Agnostic                4308
        Atheist                 3812
        Buddhist                 449
        Christian_Catholic      3118
        Christian_Mormon         210
        Christian_Other         2951
        Christian_Protestant    2394
        Hindu                    572
        Jewish                   257
        Muslim                   564
        Other                   2622
        Sikh                      58
Male    Agnostic                5316
        Atheist                 6380
        Buddhist                 401
        Christian_Catholic      3313
        Christian_Mormon         218
        Christian_Other         2186
        Christian_Protestant    2481
        Hindu                    857
        Jewish                   230
        Muslim                   628
        Other                   2148
        Sikh                      59
dtype: int64

종교의 경우, 대부분의 종교에서는 여성과 남성 사이에 큰 차이가 나타나지 않았지만, Agnostic(불가지론자)과 Atheist(무신론자)에서는 약간의 차이가 나타났다.불가지론자라고 답한 남성이 여성에 비해 많았고, 무신론자라고 답한 남성은 여성의 수의 약 2배 가까이 된 것으로 확인할 수 있다.

###5.8 유년기의 거주 구역 (X)

In [ ]:
pivot29 = pd.pivot_table(data = data, index = "urban", columns = "gender", aggfunc = "size", fill_value = 0)
pivot29['Female_percent'] = (pivot29['Female']/pivot29['Female'].sum()) * 100
pivot29['Male_percent'] = (pivot29['Male']/pivot29['Male'].sum()) * 100
pivot29 = pivot29.drop([0], axis=0)
pivot29

gender  Female   Male  Female_percent  Male_percent
urban
1         4212   4697       19.760732     19.395466
2         8534  10000       40.037532     41.293306
3         8423   9344       39.516772     38.584465

시골 또는 지방에 살았다고 답한 비율은 모두 19%로 여성과 남성의 비율이 일치하였고, 교외에 산 사람들은 각각 40%와 41%로 1% 차이밖에 나타나지 않았으며, 마지막으로 도시에 살았다고 답한 사람들은 여성이 39%, 남성이 38%로, 이도 마찬가지로 1% 비율 차이만 나타났다. 따라서, 성별에 따라 유년기의 거주 구역은 차이가 나타나지 않음을 알 수 있다.

###5.9 지난 해 국가 선거 투표 여부 (X)

In [ ]:
pivot30 = pd.pivot_table(data = data, index = "voted", columns = "gender", aggfunc = "size", fill_value = 0)
pivot30['Female_percent'] = (pivot30['Female']/pivot30['Female'].sum()) * 100
pivot30['Male_percent'] = (pivot30['Male']/pivot30['Male'].sum()) * 100
pivot30

gender  Female   Male  Female_percent  Male_percent
voted
1         9814  10820       46.042693     44.679357
2        11501  13397       53.957307     55.320643

투표 여부도 예상과 일치하게 성별 간 차이가 나타나지 않았다. 투표에 참여한 비율은 여성이 2% 높고 참여하지 않은 비율은 2% 낮았을 뿐, 큰 유의미한 차이는 존재하지 않는 것으로 분석된다.

###5.10 실존/허구인 단어의 정의를 아는 정도 (X)

In [ ]:
data5 = pd.DataFrame({
    'wf_01': data['wf_01'],
    'wf_02': data['wf_02'],
    'wf_03': data['wf_03'],
    'gender' : data['gender']
})
data5

       wf_01  wf_02  wf_03  gender
0          0      0      0  Female
1          0      0      0  Female
2          0      0      1    Male
3          0      0      0  Female
4          0      1      0    Male
...      ...    ...    ...     ...
45527      0      0      1  Female
45528      0      0      1    Male
45529      0      0      0  Female
45530      0      0      0    Male
45531      1      1      1    Male

[45532 rows x 4 columns]

In [ ]:
data5.groupby(['gender','wf_01', 'wf_02', 'wf_03']).size()

gender  wf_01  wf_02  wf_03
Female  0      0      0        15718
                      1         1273
               1      0         2274
                      1          580
        1      0      0          558
                      1          168
               1      0          377
                      1          367
Male    0      0      0        17899
                      1         1438
               1      0         2100
                      1          626
        1      0      0          767
                      1          259
               1      0          450
                      1          678
dtype: int64

In [ ]:
data6 = pd.DataFrame({
    'wr_01': data['wr_01'],
    'wr_02': data['wr_02'],
    'wr_03': data['wr_03'],
    'wr_04': data['wr_04'],
    'wr_05': data['wr_05'],
    'wr_06': data['wr_06'],
    'wr_07': data['wr_07'],
    'wr_08': data['wr_08'],
    'wr_09': data['wr_09'],
    'wr_10': data['wr_10'],
    'wr_11': data['wr_11'],
    'wr_12': data['wr_12'],
    'wr_13': data['wr_13'],
    'gender' : data['gender']
})
data6

,wr_01,wr_02,wr_03,wr_04,wr_05,wr_06,wr_07,wr_08,wr_09,wr_10,wr_11,wr_12,wr_13,gender
0,0,1,0,0,1,0,1,1,0,1,0,1,1,Female
1,0,1,0,1,1,0,1,1,0,1,0,1,1,Female
2,1,1,0,1,1,0,1,1,1,1,0,1,1,Male
3,0,1,0,0,0,0,0,1,0,1,0,1,1,Female
4,1,1,0,1,1,1,1,1,0,1,1,1,1,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45527,1,1,0,1,1,0,1,1,1,1,0,1,1,Female
45528,1,1,1,1,1,0,1,1,1,1,0,1,1,Male
45529,1,1,0,1,1,0,1,1,0,1,0,1,1,Female
45530,1,1,0,1,1,0,1,1,1,1,0,1,1,Male
45531,1,1,0,1,1,0,1,1,0,1,0,1,1,Male

In [ ]:
data6.groupby(['gender','wr_01', 'wr_02', 'wr_03','wr_04']).size()

gender  wr_01  wr_02  wr_03  wr_04
Female  0      0      0      0          614
                             1          354
                      1      0           51
                             1           27
               1      0      0         1463
                             1         4353
                      1      0           43
                             1          335
        1      0      0      0           33
                             1          193
                      1      0           31
                             1           32
               1      0      0          349
                             1         9658
                      1      0           39
                             1         3740
Male    0      0      0      0          756
                             1          381
                      1      0           68
                             1           31
               1      0      0         1491
                             1         2957
                      1      0           44
                             1          249
        1      0      0      0          106
                             1          232
                      1      0           16
                             1           44
               1      0      0          781
                             1        12296
                      1      0           93
                             1         4672
dtype: int64

In [ ]:
data6.groupby(['gender','wr_05', 'wr_06', 'wr_07', 'wr_08']).size()

gender  wr_05  wr_06  wr_07  wr_08
Female  0      0      0      0          255
                             1          456
                      1      0           34
                             1         1147
               1      0      0           71
                             1           41
                      1      0            3
                             1          111
        1      0      0      0           34
                             1          261
                      1      0           68
                             1        12353
               1      0      0            8
                             1           76
                      1      0           26
                             1         6371
Male    0      0      0      0          363
                             1          558
                      1      0           70
                             1         1306
               1      0      0           84
                             1           89
                      1      0            9
                             1          151
        1      0      0      0           43
                             1          324
                      1      0          114
                             1        13187
               1      0      0           19
                             1          100
                      1      0           65
                             1         7735
dtype: int64

In [ ]:
data6.groupby(['gender','wr_09','wr_10', 'wr_11', 'wr_12', 'wr_13']).size()

gender  wr_09  wr_10  wr_11  wr_12  wr_13
Female  0      0      0      0      0         325
                                    1         115
                             1      0         165
                                    1         289
                      1      0      0          11
                                             ...
Male    1      1      0      1      1        1321
                      1      0      0           5
                                    1          24
                             1      0          23
                                    1        3459
Length: 64, dtype: int64

실존하는, 또는 허구인 단어의 정의를 아는 정도 또한 성별 간의 유의미한 차이가 존재하지 않고 비슷한 양상이 나타났다.

## 6. 외부 데이터 웹크롤링


위에서 예상했던 결과들을 뒷받침할 증거들을 웹 크롤링을 통하여 모아보았다.

###6.1 성별 간 성격 차이에 대한 증거

In [ ]:
# tp02(비판적이고 다투기 좋아하는 성격), tp03(남에게 의존하는 성격)
import requests
import urllib
from bs4 import BeautifulSoup 
url = 'https://www.google.com/search?q=gender+difference+in+characteristic&tbm=isch&ved=2ahUKEwiR2fux3JH5AhVJ-5QKHWK4ArsQ2-cCegQIABAA&oq=gender+d&gs_lcp=CgNpbWcQARgBMgQIIxAnMgQIIxAnMgUIABCABDIFCAAQgAQyBQgAEIAEMgQIABAeMgQIABAeMgQIABAeMgQIABAeMgQIABAeOgQIABATOggIABAeEAUQEzoICAAQHhAIEBM6CAgAELEDEIMBOggIABCABBCxAzoLCAAQgAQQsQMQgwE6BAgAEANQ7gtYmhZglCZoAHAAeACAAZcEiAGzFZIBCzAuMS40LjIuMS4xmAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=Q1XdYtGrBcn20wTi8IrYCw&bih=520&biw=662'
headers = {'User-Agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36'}
res = requests.get(url, headers = headers)
res.raise_for_status()
soup = BeautifulSoup(res.text, 'lxml')

In [ ]:
imgs1 = soup.find('img',attrs = {"class" : "rg_i Q4LuWd"})

In [ ]:
imgs1

<img alt="Differences in Characteristics of Sex and Gender | Download Table" class="rg_i Q4LuWd" data-deferred="1" data-iid="10" height="156" jsname="Q4LuWd" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" width="254"/>

In [3]:
# tp04 (불안해하고 쉽게 속상해하는 성격), tp07 (따뜻하고 동정심 있는 성격)

import requests
from bs4 import BeautifulSoup
USER_AGENT = "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.106 Whale/2.8.107.17 Safari/537.36"
HEADERS = {'User-Agent':USER_AGENT}
url = requests.get('https://www.yna.co.kr/view/AKR20120105108100009', headers=HEADERS)
soup = BeautifulSoup (url.content, 'lxml')
print (soup.prettify())

<!DOCTYPE html>
<html class="ko" lang="ko">
 <head itemscope="">
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" name="viewport"/>
  <meta content="max-image-preview:large, max-video-preview:0" name="robots"/>
  <link href="https://www.yna.co.kr/view/AKR20120105108100009" id="canonical" rel="canonical"/>
  <meta content="https://www.yna.co.kr/view/AKR20120105108100009" property="og:url"/>
  <meta content="https://www.yna.co.kr/view/AKR20120105108100009" name="twitter:url"/>
  <meta content="https://www.yna.co.kr/view/AKR20120105108100009" itemprop="url"/>
  <link href="https://m.yna.co.kr/amp/view/AKR20120105108100009" rel="amphtml"/>
  <meta content="1013291918759197" property="fb:app_id"/>
  <meta content="130229496988833" property="fb:pages"/>
  <meta content="article" property="og:type"/>
  <meta content="article" name="resource-type"/>
  <meta content="Yonhapnews" name="copyright"/>
  <meta content="연합뉴스" property="og:site_name"/>
  <meta content="@yonhaptweet" name="twitter:site"/>
  <meta content="https://www.facebook.com/yonhap" property="article:publisher"/>
  <meta content="@yonhaptweet" name="twitter:creator"/>
  <meta content="ko_KR" property="og:locale"/>
  <meta content="ko_KR" itemprop="inLanguage"/>
  <title>
   "남녀, 성격상으로 90% 불일치"&lt;英·伊연구팀&gt; | 연합뉴스
  </title>
  <meta content='"남녀, 성격상으로 90% 불일치"&lt;英·伊연구팀&gt; | 연합뉴스' property="og:title"/>
  <meta content='"남녀, 성격상으로 90% 불일치"&lt;英·伊연구팀&gt; | 연합뉴스' name="title"/>
  <meta content='"남녀, 성격상으로 90% 불일치"&lt;英·伊연구팀&gt; | 연합뉴스' name="twitter:title"/>
  <meta content='"남녀, 성격상으로 90% 불일치"&lt;英·伊연구팀&gt; | 연합뉴스' itemprop="name"/>
  <meta content='"남녀, 성격상으로 90% 불일치"&lt;英·伊연구팀&gt; | 연합뉴스' itemprop="headline"/>
  <meta content='"남녀, 성격상으로 90% 불일치"&amp;lt;英·伊연구팀&amp;gt;
' property="og:description"/>
  <meta content='"남녀, 성격상으로 90% 불일치"&amp;lt;英·伊연구팀&amp;gt;
' name="description"/>
  <meta content='"남녀, 성격상으로 90% 불일치"&amp;lt;英·伊연구팀&amp;gt;
' name="twitter:description"/>
  <meta content='"남녀, 성격상으로 90% 불일치"&amp;lt;英·伊연구팀&amp;gt;
' itemprop="description"/>
  <meta content="summary_large_image" name="twitter:card"/>
  <meta content="https://r.yna.co.kr/global/home/v01/img/yonhapnews_logo_600x325_kr04.jpg" name="twitter:image"/>
  <meta content="https://r.yna.co.kr/global/home/v01/img/yonhapnews_logo_600x325_kr04.jpg" property="og:image"/>
  <meta content="600" property="og:image:width"/>
  <meta content="600" property="og:image:height"/>
  <meta content="https://r.yna.co.kr/global/home/v01/img/yonhapnews_logo_600x325_kr04.jpg" name="image"/>
  <meta content="https://r.yna.co.kr/global/home/v01/img/yonhapnews_logo_600x325_kr04.jpg" itemprop="image"/>
  <meta content="https://r.yna.co.kr/global/home/v01/img/yonhapnews_logo_600x325_kr04.jpg" itemprop="thumbnailUrl"/>
  <link href="https://r.yna.co.kr/global/home/v01/img/yonhapnews_logo_600x325_kr04.jpg" rel="image_src"/>
  <meta content="AKR20120105108100009" property="yna:content_id"/>
  <meta content="AKR20120105108100009" property="dable:item_id"/>
  <meta content="https://img.yna.co.kr" property="dable:image"/>
  <meta content="IT.과학" property="article:section"/>
  <meta content="IT.과학" itemprop="genre"/>
  <meta content="배영경" property="article:author"/>
  <meta content="배영경" name="author"/>
  <meta content="배영경" itemprop="publisher"/>
  <meta content="https://www.yna.co.kr/" property="article:author"/>
  <meta content="2012-01-05T11:45:45+09:00" property="article:published_time"/>
  <meta content="2012-01-05T11:45:45+09:00" property="article:modified_time"/>
  <link href="https://m.yna.co.kr/view/AKR20120105108100009" media="only screen and (max-width: 640px)" rel="alternate"/>
  <meta content="" property="dd:playtime"/>
  <meta content="true" property="dd:availability"/>
  <link href="//r.yna.co.kr/www/home_n/v02/img/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <link href="//r.yna.co.kr/www/home_n/v02/img/favicon.ico" rel="icon" type="image/x-icon"/>
  <link href="//r.yna.co.kr/www/home_n/v02/css/default.css?v=20220722_1120" rel="stylesheet"/>
  <link href="//r.yna.co.kr/global/home/v01/css/weather_ui.css?v=20220722_1120" rel="stylesheet"/>
  <link href="//r.yna.co.kr/global/home/v01/css/weather_ui02.css?v=20220722_1120" rel="stylesheet"/>
  <link href="//r.yna.co.kr/www/home_n/v02/css/layout.css?v=20220721_1620" rel="stylesheet"/>
  <link href="//r.yna.co.kr/www/home_n/v02/css/media.css?v=20220722_1120" rel="stylesheet"/>
  <link href="//r.yna.co.kr/www/home_n/v02/css/article.css?v=20220722_1120" rel="stylesheet"/>
  <link href="//r.yna.co.kr/www/home_n/v02/css/common.css?v=20220722_1440" rel="stylesheet"/>
  <link href="//r.yna.co.kr/www/home_n/v02/css/style.css?v=20220711_1020" rel="stylesheet"/>
  <script src="//r.yna.co.kr/www/home_n/v02/js/jquery-1.12.4.js">
  </script>
  <!--[if (IE 8)|(IE 9)]><script src="//rd.yna.co.kr/common/js/jquery.xdr.min.js?v=201811282135"></script><![endif]-->
  <script src="//r.yna.co.kr/global/lib/v01/js/jquery.tmpl.min.js">
  </script>
  <script src="//r.yna.co.kr/global/lib/v01/js/underscore-min.js">
  </script>
  <script src="//r.yna.co.kr/global/lib/v01/js/moment-with-locales.js">
  </script>
  <script src="//r.yna.co.kr/global/lib/v01/js/moment-timezone-with-data.js">
  </script>
  <script src="//rd.yna.co.kr/global/js/lib.js">
  </script>
  <script src="//r.yna.co.kr/global/home/v01/js/video.js">
  </script>
  <script src="//r.yna.co.kr/www/home_n/v02/js/plugin.js?v=20220722_1120">
  </script>
  <script src="//rd.yna.co.kr/www/js/kr_static.js?v=20220722_1120">
  </script>
  <script src="//rd.yna.co.kr/global/js/serviceCore.js?v=20220722_1120">
  </script>
  <script src="//rd.yna.co.kr/global/js/mediaCompiler.js?v=20220722_1120">
  </script>
  <script src="//r.yna.co.kr/www/home_n/v02/js/common.js?v=20220624_0930">
  </script>
  <script src="//r.yna.co.kr/www/home_n/v02/js/ytb_video.js?v=20220624_0930">
  </script>
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-127598410-1">
  </script>
  <script>
   window.dataLayer = window.dataLayer || [];
	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());
	gtag('config', 'UA-127598410-1');
	gtag('config', 'UA-53959883-1');
  </script>
  <script src="//rd.yna.co.kr/global/js/yna_stat.js?v=20220722_1120" type="text/javascript">
  </script>
  <script src="//r.yna.co.kr/global/lib/v01/js/nlogger.js" type="text/javascript">
  </script>
  <script type="text/javascript">
   // NLOGGER 로깅 설정
nLogger.configure({
	nth_service_id: "www.yna.co.kr", // 로그 생성 단위, 값 지정 필요
	nth_logging_url_base_http: "http://wl.yna.co.kr/nlog", // 수집 서버 주소
	nth_logging_url_base_https: "https://wl.yna.co.kr/nlog" // 수집 서버 주소
});
// NLOGGER 기본 페이지뷰 로깅
nLogger.log();
  </script>
  <script type="application/ld+json">
   {
	"@context": "https://schema.org",
	"@type": "Organization",
	"name" : "연합뉴스" ,
	"url": "https://www.yna.co.kr/",
	"logo": "https://r.yna.co.kr/global/home/v01/img/yonhapnews_logo_600x600_kr01.jpg"
}
  </script>
  <script type="application/ld+json">
   /* sameAs 유튜브채널 순서 : 연합뉴스, 통통컬처, 한반도N, K Now, NK Now */
{
	"@context": "https://schema.org",
	"@type": "Person",
	"name": "연합뉴스",
	"url": "https://www.yna.co.kr/",
	"sameAs": [
		"https://www.facebook.com/yonhap",
		"https://twitter.com/yonhaptweet",
		"https://www.instagram.com/yonhap_news/",
		"https://story.kakao.com/ch/yonhapmedia",
		"https://www.facebook.com/yonhapvideo/",
		"https://www.youtube.com/channel/UCj3_t5p4L4aFsvdW3uHjnnw",
		"https://www.youtube.com/channel/UCHzW_7Mf8G0JxP4b0LoAd7A",
		"https://www.youtube.com/channel/UC-l8M5QwG0Rdb5MVlOVuFSA",
		"https://www.youtube.com/channel/UCR-L8oZkHzgDh1ahJhH2WDQ",
		"https://www.youtube.com/channel/UChX-Cgkfava-G-LlfwC9v_g"
	]
}
  </script>
  <script type="application/ld+json">
   {
	"@context": "https://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [


		{
			"@type": "ListItem",
			"position": 1,
			"item": {
				"@id": "https://www.yna.co.kr/",
				"name": "연합뉴스"
			}
		},

		{
			"@type": "ListItem",
			"position": 2,
			"item": {
				"@id": "https://www.yna.co.kr/news",
				"name": "최신기사"
			}
		}



	]
}
  </script>
  <script type="application/ld+json">
   {
	"@context": "https://schema.org",
	"@type": "NewsArticle",
	"mainEntityOfPage": {
		"@type": "WebPage",
		"@id": "https://www.yna.co.kr/view/AKR20120105108100009"
	},
	"headline": "&quot;남녀, 성격상으로 90% 불일치&quot;&lt;英·伊연구팀&gt;",
	"image": [




	],
	"datePublished": "2012-01-05T11:45:45+09:00",
	"dateModified": "2012-01-05T11:45:45+09:00",
	"author": {
		"@type": "Person",
		"name": "배영경"
	},
	"publisher": {
		"@type": "Organization",
		"name": "연합뉴스",
		"logo": {
			"@type": "ImageObject",
			"url": "https://r.yna.co.kr/global/home/v01/img/yonhapnews_logo_600x600_kr01.jpg"
		}
	}
	, "description": "&quot;남녀, 성격상으로 90% 불일치&quot;&amp;lt;英·伊연구팀&amp;gt;
"


}
  </script>
  <script src="//rd.yna.co.kr/global/js/redirect.js" type="text/javascript">
  </script>
  <script>
   Redirect.check('https://m.yna.co.kr/view/{cid}?{param}', '');
  </script>
  <script async="" src="https://securepubads.g.doubleclick.net/tag/js/gpt.js">
  </script>
  <script>
   var googletag = googletag || {};
	googletag.cmd = googletag.cmd || [];
  </script>
  <script>
   window.googletag = window.googletag || { cmd: [] };
	googletag.cmd.push(function () {

		//글기사 본문내광고 (CP 9618)
		googletag.defineSlot('/21961356670/korean_pc_web_inarticle_300X250_200429', [300, 250], 'div-gpt-ad-1588124879138-0').addService(googletag.pubads());
		//댓글하단 구글배너 01
		googletag.defineSlot('/21961356670/korean_pc_web_article_body_bottom1_btf_300x250_200417', [300, 250], 'div-gpt-ad-1587522573500-0').addService(googletag.pubads());
		//댓글하단 구글배너 02
        googletag.defineSlot('/21961356670/korean_pc_web_article_body_bottom2_btf_300x250_200518', [300, 250], 'div-gpt-ad-1589789760428-0').addService(googletag.pubads());
		//우측 상단 구글배너
		googletag.defineSlot('/21961356670/korean_pc_web_article_right_atf_210115', [300, 250], 'div-gpt-ad-1610764757046-0').addService(googletag.pubads());
		//좌측 수직배너 : CP9602
		//googletag.defineSlot('/21961356670/korean_pc_web_article_left_atf_220105', [120, 600], 'div-gpt-ad-1641374628139-0').addService(googletag.pubads());
		//좌측 수직배너 : CP9612
		//googletag.defineSlot('/21961356670/korean_pc_web_article_right_btf2_220105', [300, 250], 'div-gpt-ad-1641375081042-0').addService(googletag.pubads());
		//에디터스픽 하단 : CT 975 > CP 9613
		googletag.defineSlot('/21961356670/korean_pc_web_article_right_height_600_220503', [[300, 250], [300, 600]], 'div-gpt-ad-1651558146432-0').addService(googletag.pubads());

		googletag.pubads().enableSingleRequest();
		googletag.pubads().collapseEmptyDivs();
		googletag.enableServices();
	});
  </script>
 </head>
 <body class="body-view-news body-AKR20120105108100009" data-divcode="0901004;1101001" data-nav="latest">
  <div id="skipNav">
   <a href="//www.yna.co.kr/">
    연합뉴스
   </a>
   <a href="#container">
    본문 바로가기
   </a>
   <a href="#nav">
    메뉴 바로가기
   </a>
  </div>
  <hr/>
  <div class="wrap-header01">
   <div class="header01">
    <div class="ticker-area">
     <script id="tickerUrgentTemp01" type="text/x-jquery-tmpl">
      {{if NUMBER == "0"}}
<div id="tickerUrgent" class="ticker-type02 ticker-urgent" data-cid="{{html CID}}">
	<i class="ico-label-ticker02"><span class="blind">연합뉴스</span> 긴급속보</i>
	<strong class="tit-news">
		<a href="//www.yna.co.kr/view/{{html CID}}" data-stat-code="emergency">{{html TITLE}}</a>
	</strong>
	<button type="button" class="btn-type02 close01 style01" data-stat-code="emergency_btn_close"><span class="ir-txt">닫기</span></button>
</div>
{{/if}}
     </script>
     <div class="ticker-type01 ticker-latest">
      <i class="ico-label-ticker01">
       <span class="blind">
        연합뉴스
       </span>
       최신기사
      </i>
      <div class="slide-area">
       <div class="list" id="newsFlashTicker">
       </div>
      </div>
      <div class="btns">
       <button class="btn-type02-toggle btn-ticker-autoplay" data-a11y-txt="재생;일시정지" data-stat-code="header_newsflash_btn_playstop" type="button">
        <span class="txt01 txt-alt">
         일시정지
        </span>
        <i class="ico01 ico-type01-pause01" tabindex="-1">
        </i>
        <i class="ico02 ico-type01-play01" tabindex="-1">
        </i>
       </button>
       <button class="btn-type02-toggle btn-ticker-list" data-a11y-txt="목록 접기;목록 펼치기" data-pop-open="popup-ticker-latest" data-stat-code="header_newsflash_btn_toggle" type="button">
        <span class="txt01 txt-alt">
         목록 펼치기
        </span>
        <i class="ico01 ico-type01-down01" tabindex="-1">
        </i>
        <i class="ico02 ico-type01-up01" tabindex="-1">
        </i>
       </button>
      </div>
      <script id="newsFlashTickerTemp" type="text/x-jquery-tmpl">
       <div class="li">
			<a href="//www.yna.co.kr/view/{{html CID}}?section=news" data-stat-code="header_newsflash">
				{{if URGENCY != "0"}}
				<strong class="tit-news">{{html TITLE}}</strong>
				{{else URGENCY == "0"}}
				<strong class="tit-news color11">{{html TITLE}}</strong>
				{{/if}}
				<div class="info-box">
					<em class="txt-time" data-pub-time="{{html DATETIME}}">{{html TENSE}}</em>
					<span class="blind">송고 기사</span>
				</div>
			</a>
		</div>
      </script>
     </div>
    </div>
    <aside class="aside-bnr01 bnr-mktg-top01">
     <div class="con ads-top01">
     </div>
    </aside>
    <aside class="aside-bnr01 bnr-mktg-top02">
     <div class="con ads-top02">
     </div>
    </aside>
   </div>
  </div>
  <header class="wrap-header03">
   <div class="nav-type02 sub-navigation">
    <div class="aera">
     <a class="logo-yna02" data-stat-code="header_logo" href="//www.yna.co.kr/index">
      <strong class="ir-txt">
       국가기간뉴스 통신사 연합뉴스
      </strong>
     </a>
     <nav class="gnb-menu" id="nav">
      <div class="nav-depth01">
       <div class="li latest" data-nav-section="latest">
        <a data-stat-code="navi_latest_depth01" href="//www.yna.co.kr/news">
         최신기사
        </a>
       </div>
       <div class="li politics" data-nav-section="politics">
        <a data-stat-code="navi_politics_depth01" href="//www.yna.co.kr/politics/index">
         정치
        </a>
       </div>
       <div class="li nk" data-nav-section="nk">
        <a data-stat-code="navi_nk_depth01" href="//www.yna.co.kr/nk/index">
         북한
        </a>
       </div>
       <div class="li economy" data-nav-section="economy">
        <a data-stat-code="navi_economy_depth01" href="//www.yna.co.kr/economy/index">
         경제
        </a>
       </div>
       <div class="li industry" data-nav-section="industry">
        <a data-stat-code="navi_industry_depth01" href="//www.yna.co.kr/industry/index">
         산업
        </a>
       </div>
       <div class="li society" data-nav-section="society">
        <a data-stat-code="navi_society_depth01" href="//www.yna.co.kr/society/index">
         사회
        </a>
       </div>
       <div class="li local" data-nav-section="local">
        <a data-stat-code="navi_local_depth01" href="//www.yna.co.kr/local/index">
         전국
        </a>
       </div>
       <div class="li intrnal" data-nav-section="intrnal">
        <a data-stat-code="navi_international_depth01" href="//www.yna.co.kr/international/index">
         세계
        </a>
       </div>
       <div class="li culture" data-nav-section="culture">
        <a data-stat-code="navi_culture_depth01" href="//www.yna.co.kr/culture/index">
         문화
        </a>
       </div>
       <div class="li life" data-nav-section="life">
        <a data-stat-code="navi_lifestyle_depth01" href="//www.yna.co.kr/lifestyle/index">
         라이프
        </a>
       </div>
       <div class="li ent" data-nav-section="ent">
        <a data-stat-code="navi_entertainment_depth01" href="//www.yna.co.kr/entertainment/index">
         연예
        </a>
       </div>
       <div class="li sports" data-nav-section="sports">
        <a data-stat-code="navi_sports_depth01" href="//www.yna.co.kr/sports/index">
         스포츠
        </a>
       </div>
       <div class="li opinion" data-nav-section="opinion">
        <a data-stat-code="navi_opinion_depth01" href="//www.yna.co.kr/opinion/index">
         오피니언
        </a>
       </div>
       <div class="li people" data-nav-section="people">
        <a data-stat-code="navi_people_depth01" href="//www.yna.co.kr/people/index">
         사람들
        </a>
       </div>
       <div class="li visual" data-nav-section="visual">
        <a data-stat-code="navi_visual_depth01" href="//www.yna.co.kr/visual/index">
         비주얼뉴스
        </a>
       </div>
       <div class="li safe no-depth" data-nav-section="safe">
        <a data-stat-code="navi_safe_depth01" href="//www.yna.co.kr/safe/index">
         코로나19
        </a>
       </div>
       <div class="li jebo no-depth" data-nav-section="jebo">
        <a data-stat-code="navi_jebo_depth01" href="//www.yna.co.kr/board/jebo/index">
         제보
        </a>
       </div>
      </div>
      <button class="btn-dir02-prev btn-nav-prev02" type="button">
       <span class="ir-txt">
        이전
       </span>
      </button>
      <button class="btn-dir02-next btn-nav-next02" type="button">
       <span class="ir-txt">
        다음
       </span>
      </button>
     </nav>
     <div class="gnb-content">
      <ul>
       <li class="depth-box02 latest">
       </li>
       <li class="depth-box01 politics">
        <dl class="nav-depth02">
         <dt>
          <a data-stat-code="navi_politics_depth02" href="//www.yna.co.kr/politics/index">
           정치
          </a>
         </dt>
         <dd>
          <a data-stat-code="navi_politics_depth02" href="//www.yna.co.kr/politics/all">
           전체기사
          </a>
         </dd>
         <dd>
          <a data-stat-code="navi_politics_depth02" href="//www.yna.co.kr/politics/president">
           대통령실/총리실
          </a>
         </dd>
         <dd>
          <a data-stat-code="navi_politics_depth02" href="//www.yna.co.kr/politics/national-assembly">
           국회/정당
          </a>
         </dd>
         <dd>
          <a data-stat-code="navi_politics_depth02" href="//www.yna.co.kr/politics/diplomacy">
           외교
          </a>
         </dd>
         <dd>
          <a data-stat-code="navi_politics_depth02" href="//www.yna.co.kr/politics/defense">
           국방
          </a>
         </dd>
        </dl>
       </li>
       <li class="depth-box01 nk">
        <dl class="nav-depth02">
         <dt>
          <a data-stat-code="navi_nk_depth02" href="//www.yna.co.kr/nk/index">
           북한
          </a>
         </dt>
         <dd>
          <a data-stat-code="navi_nk_depth02" href="//www.yna.co.kr/nk/news/all">
           전체기사
          </a>
         </dd>
         <dd>
          <a data-stat-code="navi_nk_depth02" href="//www.yna.co.kr/nk/person/index">
           인물
          </a>
         </dd>
         <dd>
          <a data-stat-code="navi_nk_depth02" href="//www.yna.co.kr/nk/conference/index">
           학술/연구
          </a>
         </dd>
         <dd>
          <a data-stat-code="navi_nk_depth02" href="//www.yna.co.kr/nk/video/index">
           영상
          </a>
         </dd>
        </dl>
       </li>
       <li class="depth-box01 economy">
        <dl class="nav-depth02">
         <dt>
          <a data-stat-code="navi_economy_depth02" href="//www.yna.co.kr/economy/index">
           경제
          </a>
         </dt>
         <dd>
          <a data-stat-code="navi_economy_depth02" href="//www.yna.co.kr/economy/all">
           전체기사
          </a>
         </dd>
         <dd>
          <a data-stat-code="navi_economy_depth02" href="//www.yna.co.kr/economy/economic-policy">
           경제/정책
          </a>
         </dd>
         <dd>
          <a data-stat-code="navi_economy_depth02" href="//www.yna.co.kr/economy/finance">
           금융

In [4]:
div = soup.find("div", {'class':'scroller01'})
body = div.find_all('p')
for p in body:
  print (p.get_text())

 "남녀, 성격상으로 90% 불일치"<英·伊연구팀>
 (서울=연합뉴스) 배영경 기자 = 여자와 남자가 성격적으로 공유하는 특성이 10%에 불과하다는 연구결과가 나왔다.
 영국 맨체스터대와 이탈리아의 심리학자들이 15가지 성격적 특성을 기준으로 남녀 1만명을 조사한 결과 이 같은 사실이 밝혀졌다고 5일(현지시간) 영국 일간 데일리메일이 보도했다.
 결과에 따르면 여성은 감수성, 온화함, 불안감의 성격적 특성이 강한 반면에 남성은 지배욕, 감정적인 안정, 의무감 등의 기질이 우세한 것으로 드러났다.
 그러나 명랑함, 완벽주의, 사생활 추구 경향 등의 특징은 남녀가 비교적 비슷하게 나타내는 것으로 밝혀졌다.
 연구를 이끈 폴 어윙 맨체스터대 교수는 "남녀 간에 큰 차이가 있다는 것은 통상적으로 잘 알려진 사실이지만, 이렇게 차이가 클 줄은 몰랐다"며 놀라움을 드러냈다.
 어윙 교수는 "사람들이 자신의 기질을 고려해 행복과 만족감을 느낄 수 있는 분야의 일을 스스로 선택한다"면서 연구 결과에 근거할 때 교사, 간호사, 행정직에서 여성의 비율이 높은 것은 우연의 일치가 아니라고 말했다.
 이번 연구결과는 이날 미국 공공과학도서관 학술지인 플러스 원(PLoS ONE) 최신호에 발표됐다.
 ykbae@yna.co.kr

제보는 카카오톡 okjebo
<저작권자(c) 연합뉴스,
무단 전재-재배포 금지>
2012/01/05 11:45 송고

In [5]:
# tp08 (체계적이지 못한 성격)

import requests
from bs4 import BeautifulSoup
USER_AGENT = "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.106 Whale/2.8.107.17 Safari/537.36"
HEADERS = {'User-Agent':USER_AGENT}
url = requests.get('https://horizonpointconsulting.com/blog3/item/gender-themes-in-assessments-are-women-really-more-organized-than-men/', headers=HEADERS)
soup = BeautifulSoup (url.content, 'lxml')
print (soup.prettify())

<!DOCTYPE html>
<html lang="en-US">
 <head>
  <meta charset="utf-8"/>
  <meta content="initial-scale=1, width=device-width" name="viewport"/>
  <link href="https://gmpg.org/xfn/11" rel="profile"/>
  <link href="https://horizonpointconsulting.com/xmlrpc.php" rel="pingback"/>
  <link href="https://horizonpointconsulting.com/wp-content/uploads/2022/05/HorizonPointLogo.jpg" rel="icon" type="image/png"/>
  <title>
   Gender Themes in Assessments: Are women really more organized than men? – Horizon Point Consulting
  </title>
  <meta content="max-image-preview:large" name="robots"/>
  <link href="//fonts.googleapis.com" rel="dns-prefetch"/>
  <link href="//s.w.org" rel="dns-prefetch"/>
  <link href="//c0.wp.com" rel="dns-prefetch"/>
  <link href="https://horizonpointconsulting.com/feed/" rel="alternate" title="Horizon Point Consulting » Feed" type="application/rss+xml"/>
  <link href="https://horizonpointconsulting.com/comments/feed/" rel="alternate" title="Horizon Point Consulting » Comments Feed" type="application/rss+xml"/>
  <link href="https://horizonpointconsulting.com/blog3/item/gender-themes-in-assessments-are-women-really-more-organized-than-men/feed/" rel="alternate" title="Horizon Point Consulting » Gender Themes in Assessments: Are women really more organized than men? Comments Feed" type="application/rss+xml"/>
  <script type="text/javascript">
   window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/13.0.1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/13.0.1\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/horizonpointconsulting.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.7.6"}};
			!function(e,a,t){var n,r,o,i=a.createElement("canvas"),p=i.getContext&&i.getContext("2d");function s(e,t){var a=String.fromCharCode;p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,e),0,0);e=i.toDataURL();return p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,t),0,0),e===i.toDataURL()}function c(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(o=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},r=0;r<o.length;r++)t.supports[o[r]]=function(e){if(!p||!p.fillText)return!1;switch(p.textBaseline="top",p.font="600 32px Arial",e){case"flag":return s([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])?!1:!s([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!s([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]);case"emoji":return!s([55357,56424,8205,55356,57212],[55357,56424,8203,55356,57212])}return!1}(o[r]),t.supports.everything=t.supports.everything&&t.supports[o[r]],"flag"!==o[r]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[o[r]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(n=t.source||{}).concatemoji?c(n.concatemoji):n.wpemoji&&n.twemoji&&(c(n.twemoji),c(n.wpemoji)))}(window,document,window._wpemojiSettings);
  </script>
  <style type="text/css">
   img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
  </style>
  <link href="https://c0.wp.com/c/5.7.6/wp-includes/css/dist/block-library/style.min.css" id="wp-block-library-css" media="all" rel="stylesheet" type="text/css"/>
  <style id="wp-block-library-inline-css" type="text/css">
   .has-text-align-justify{text-align:justify;}
  </style>
  <link href="https://c0.wp.com/c/5.7.6/wp-includes/js/mediaelement/mediaelementplayer-legacy.min.css" id="mediaelement-css" media="all" property="stylesheet" rel="stylesheet" type="text/css"/>
  <link href="https://c0.wp.com/c/5.7.6/wp-includes/js/mediaelement/wp-mediaelement.min.css" id="wp-mediaelement-css" media="all" property="stylesheet" rel="stylesheet" type="text/css"/>
  <link href="https://horizonpointconsulting.com/wp-content/plugins/cmssuperheroes/assets/css/cms-style.css?ver=5.7.6" id="cms-plugin-stylesheet-css" media="all" rel="stylesheet" type="text/css"/>
  <link href="https://horizonpointconsulting.com/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.5.6.1" id="contact-form-7-css" media="all" rel="stylesheet" type="text/css"/>
  <link href="https://horizonpointconsulting.com/wp-content/plugins/events-manager/includes/css/events-manager.min.css?ver=6.0.0.8" id="events-manager-css" media="all" rel="stylesheet" type="text/css"/>
  <link href="https://horizonpointconsulting.com/wp-content/plugins/events-manager-pro/includes/css/events-manager-pro.css?ver=2.5" id="events-manager-pro-css" media="all" rel="stylesheet" type="text/css"/>
  <link href="https://horizonpointconsulting.com/wp-content/plugins/revslider/public/assets/css/settings.css?ver=5.2.5.3" id="rs-plugin-settings-css" media="all" rel="stylesheet" type="text/css"/>
  <style id="rs-plugin-settings-inline-css" type="text/css">
   #rs-demo-id {}
  </style>
  <link href="https://horizonpointconsulting.com/wp-content/plugins/user-press/acess/css/remodal.css?ver=5.7.6" id="remodal-css" media="all" rel="stylesheet" type="text/css"/>
  <link href="https://horizonpointconsulting.com/wp-content/plugins/user-press/acess/css/remodal-default-theme.css?ver=5.7.6" id="remodal-default-theme-css" media="all" rel="stylesheet" type="text/css"/>
  <link href="https://horizonpointconsulting.com/wp-content/plugins/user-press/acess/css/socicon.css?ver=5.7.6" id="up.social.icons-css" media="all" rel="stylesheet" type="text/css"/>
  <link href="https://horizonpointconsulting.com/wp-content/themes/wp-toot/assets/css/zo-style.css?ver=5.7.6" id="wp-toot-zo-plugin-stylesheet-css" media="all" rel="stylesheet" type="text/css"/>
  <link href="https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic&amp;subset=latin%2Clatin-ext" id="wp-toot-lato-font-css" media="all" rel="stylesheet" type="text/css"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto%20Slab:400,100,300,700&amp;subset=latin%2Clatin-ext" id="wp-toot-roboto-slab-font-css" media="all" rel="stylesheet" type="text/css"/>
  <link href="https://horizonpointconsulting.com/wp-content/themes/wp-toot/assets/css/bootstrap.min.css?ver=3.3.2" id="bootstrap-css" media="all" rel="stylesheet" type="text/css"/>
  <link href="https://horizonpointconsulting.com/wp-content/themes/wp-toot/assets/css/prettyPhoto.css?ver=1.0.1" id="prettyphoto-css-css" media="all" rel="stylesheet" type="text/css"/>
  <link href="https://horizonpointconsulting.com/wp-content/themes/wp-toot/assets/css/font-awesome.min.css?ver=4.3.0" id="font-awesome-css-css" media="all" property="stylesheet" rel="stylesheet" type="text/css"/>
  <link href="https://horizonpointconsulting.com/wp-content/themes/wp-toot/assets/css/stroke-gap-icons.css?ver=1.0.1" id="toot-pe-icon-css" media="all" rel="stylesheet" type="text/css"/>
  <link href="https://horizonpointconsulting.com/wp-content/themes/wp-toot/assets/css/animate.min.css?ver=1.0.0" id="wp-toot-animate-css" media="all" rel="stylesheet" type="text/css"/>
  <link href="https://horizonpointconsulting.com/wp-content/themes/wp-toot/style.css?ver=5.7.6" id="wp-toot-style-css" media="all" rel="stylesheet" type="text/css"/>
  <link href="https://horizonpointconsulting.com/wp-content/themes/wp-toot/assets/css/static.css?ver=1.0.0" id="wp-toot-static-css" media="all" rel="stylesheet" type="text/css"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%2C600%2C700%2C800%2C300italic%2C400italic%2C600italic%2C700italic%2C800italic%7CLato%3A100%2C300%2C400%2C700%2C900%2C100italic%2C300italic%2C400italic%2C700italic%2C900italic&amp;ver=1654094098" id="redux-google-fonts-smof_data-css" media="all" rel="stylesheet" type="text/css"/>
  <link href="https://c0.wp.com/p/jetpack/10.4/css/jetpack.css" id="jetpack_css-css" media="all" rel="stylesheet" type="text/css"/>
  <script id="jquery-core-js" src="https://c0.wp.com/c/5.7.6/wp-includes/js/jquery/jquery.min.js" type="text/javascript">
  </script>
  <script id="jquery-migrate-js" src="https://c0.wp.com/c/5.7.6/wp-includes/js/jquery/jquery-migrate.min.js" type="text/javascript">
  </script>
  <script id="jquery-ui-core-js" src="https://c0.wp.com/c/5.7.6/wp-includes/js/jquery/ui/core.min.js" type="text/javascript">
  </script>
  <script id="jquery-ui-mouse-js" src="https://c0.wp.com/c/5.7.6/wp-includes/js/jquery/ui/mouse.min.js" type="text/javascript">
  </script>
  <script id="jquery-ui-sortable-js" src="https://c0.wp.com/c/5.7.6/wp-includes/js/jquery/ui/sortable.min.js" type="text/javascript">
  </script>
  <script id="jquery-ui-datepicker-js" src="https://c0.wp.com/c/5.7.6/wp-includes/js/jquery/ui/datepicker.min.js" type="text/javascript">
  </script>
  <script id="jquery-ui-datepicker-js-after" type="text/javascript">
   jQuery(document).ready(function(jQuery){jQuery.datepicker.setDefaults({"closeText":"Close","currentText":"Today","monthNames":["January","February","March","April","May","June","July","August","September","October","November","December"],"monthNamesShort":["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],"nextText":"Next","prevText":"Previous","dayNames":["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"],"dayNamesShort":["Sun","Mon","Tue","Wed","Thu","Fri","Sat"],"dayNamesMin":["S","M","T","W","T","F","S"],"dateFormat":"MM d, yy","firstDay":1,"isRTL":false});});
  </script>
  <script id="em-selectize-js" src="https://horizonpointconsulting.com/wp-content/plugins/events-manager/includes/external/selectize/js/standalone/selectize.js?ver=6.0.0.8" type="text/javascript">
  </script>
  <script id="jquery-ui-resizable-js" src="https://c0.wp.com/c/5.7.6/wp-includes/js/jquery/ui/resizable.min.js" type="text/javascript">
  </script>
  <script id="jquery-ui-draggable-js" src="https://c0.wp.com/c/5.7.6/wp-includes/js/jquery/ui/draggable.min.js" type="text/javascript">
  </script>
  <script id="jquery-ui-controlgroup-js" src="https://c0.wp.com/c/5.7.6/wp-includes/js/jquery/ui/controlgroup.min.js" type="text/javascript">
  </script>
  <script id="jquery-ui-checkboxradio-js" src="https://c0.wp.com/c/5.7.6/wp-includes/js/jquery/ui/checkboxradio.min.js" type="text/javascript">
  </script>
  <script id="jquery-ui-button-js" src="https://c0.wp.com/c/5.7.6/wp-includes/js/jquery/ui/button.min.js" type="text/javascript">
  </script>
  <script id="jquery-ui-dialog-js" src="https://c0.wp.com/c/5.7.6/wp-includes/js/jquery/ui/dialog.min.js" type="text/javascript">
  </script>
  <script id="events-manager-js-extra" type="text/javascript">
   /* <![CDATA[ */
var EM = {"ajaxurl":"https:\/\/horizonpointconsulting.com\/wp-admin\/admin-ajax.php","locationajaxurl":"https:\/\/horizonpointconsulting.com\/wp-admin\/admin-ajax.php?action=locations_search","firstDay":"1","locale":"en","dateFormat":"yy-mm-dd","ui_css":"https:\/\/horizonpointconsulting.com\/wp-content\/plugins\/events-manager\/includes\/css\/jquery-ui\/build.min.css","selectize_css":"https:\/\/horizonpointconsulting.com\/wp-content\/plugins\/events-manager\/includes\/external\/selectize\/css\/selectize.bootstrap5.min.css","show24hours":"0","is_ssl":"1","autocomplete_limit":"10","calendar":{"breakpoints":{"small":560,"medium":908,"large":false}},"datepicker":{"format":"Y-m-d"},"search":{"breakpoints":{"small":650,"medium":850,"full":false}},"bookingInProgress":"Please wait while the booking is being submitted.","tickets_save":"Save Ticket","bookingajaxurl":"https:\/\/horizonpointconsulting.com\/wp-admin\/admin-ajax.php","bookings_export_save":"Export Bookings","bookings_settings_save":"Save Settings","booking_delete":"Are you sure you want to delete?","booking_offset":"30","bb_full":"Sold Out","bb_book":"Book Now","bb_booking":"Booking...","bb_booked":"Booking Submitted","bb_error":"Booking Error. Try again?","bb_cancel":"Cancel","bb_canceling":"Canceling...","bb_cancelled":"Cancelled","bb_cancel_error":"Cancellation Error. Try again?","txt_search":"Search","txt_searching":"Searching...","txt_loading":"Loading...","cache":""};
/* ]]> */
  </script>
  <script id="events-manager-js" src="https://horizonpointconsulting.com/wp-content/plugins/events-manager/includes/js/events-manager.js?ver=6.0.0.8" type="text/javascript">
  </script>
  <script id="events-manager-pro-js" src="https://horizonpointconsulting.com/wp-content/plugins/events-manager-pro/includes/js/events-manager-pro.js?ver=2.5" type="text/javascript">
  </script>
  <script id="tp-tools-js" src="https://horizonpointconsulting.com/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.tools.min.js?ver=5.2.5.3" type="text/javascript">
  </script>
  <script id="revmin-js" src="https://horizonpointconsulting.com/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.revolution.min.js?ver=5.2.5.3" type="text/javascript">
  </script>
  <script id="bootstrap-js" src="https://horizonpointconsulting.com/wp-content/themes/wp-toot/assets/js/bootstrap.min.js?ver=3.3.2" type="text/javascript">
  </script>
  <link href="https://horizonpointconsulting.com/wp-json/" rel="https://api.w.org/"/>
  <link href="https://horizonpointconsulting.com/wp-json/wp/v2/posts/8684" rel="alternate" type="application/json"/>
  <link href="https://horizonpointconsulting.com/xmlrpc.php?rsd" rel="EditURI" title="RSD" type="application/rsd+xml"/>
  <link href="https://horizonpointconsulting.com/wp-includes/wlwmanifest.xml" rel="wlwmanifest" type="application/wlwmanifest+xml"/>
  <meta content="WordPress 5.7.6" name="generator"/>
  <link href="https://horizonpointconsulting.com/blog3/item/gender-themes-in-assessments-are-women-really-more-organized-than-men/" rel="canonical"/>
  <link href="https://horizonpointconsulting.com/?p=8684" rel="shortlink"/>
  <link href="https://horizonpointconsulting.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fhorizonpointconsulting.com%2Fblog3%2Fitem%2Fgender-themes-in-assessments-are-women-really-more-organized-than-men%2F" rel="alternate" type="application/json+oembed"/>
  <link href="https://horizonpointconsulting.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fhorizonpointconsulting.com%2Fblog3%2Fitem%2Fgender-themes-in-assessments-are-women-really-more-organized-than-men%2F&amp;format=xml" rel="alternate" type="text/xml+oembed"/>
  <script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-28578443-1', 'auto');
	  ga('send', 'pageview');
  </script>
  <style type="text/css">
   .em-coupon-code { width:150px; }
			#em-coupon-loading { display:inline-block; width:16px; height: 16px; margin-left:4px; background:url(https://horizonpointconsulting.com/wp-content/plugins/events-manager-pro/includes/images/spinner.gif)}
			.em-coupon-message { display:inline-block; margin:5px 0px 0px 105px; text-indent:22px; }
			.em-coupon-success { color:green; background:url(https://horizonpointconsulting.com/wp-content/plugins/events-manager-pro/includes/images/success.png) 0px 0px no-repeat }
			.em-coupon-error { color:red; background:url(https://horizonpointconsulting.com/wp-content/plugins/events-manager-pro/includes/images/error.png) 0px 0px no-repeat }
			.em-cart-coupons-form .em-coupon-message{ margin:5px 0px 0px 0px; }
			#em-coupon-loading { margin-right:4px; }
  </style>
  <style type="text/css">
   img#wpstats{display:none}
  </style>
  <script type="text/javascript">
   var ajaxurl = 'https://horizonpointconsulting.com/wp-admin/admin-ajax.php';
  </script>
  <style data-type="cms_shortcodes-custom-css" type="text/css">
   .site-header .cshero-header-cart-search .widget_cart_search_wrap .header-search-cart a{background:transparent}.site-header .toot-header-top .top-bar-wrap{border-bottom-color:#e8e8e9}.header-layout1 .cshero-main-header .toot-header{border-top-color:#e8e8e9}
  </style>
  <style type="text/css">
   /* .cms-fancyboxes-wraper .fancy-style-2 .fancy-content .readmore a:hover {
    color: #fff;
    border-color: transparent;
    text-decoration: none;
    background: #de791c;
} */
.cms-team-item a {
    margin-top:5px;
    color: #23bcb9;
}
.wpb_text_column a {
    color: #23bcb9;
}
.testimonial-readmore a {
    padding: 5px 10px;
    font-size: 13px;
    border-color: transparent;
    border-radius: 2px;
    color: #fff;
    background: -moz-linear-gradient(top, #23bcb9 0%, #23bcb9 59%, #23bcb9 100%);
    background: -webkit-linear-gradient(top, #23bcb9 0%, #23bcb9 59%, #23bcb9 100%);
    background: linear-gradient(to bottom, #23bcb9 0%, #23bcb9 59%, #23bcb9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color_top', endColorstr='$color_bottom',GradientType=0);
    -webkit-transition: all 300ms linear 0ms;
    -khtml-transition: all 300ms linear 0ms;
    -moz-transition: all 300ms linear 0ms;
    -ms-transition: all 300ms linear 0ms;
    -o-transition: all 300ms linear 0ms;
    transition: all 300ms linear 0ms;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
}
.testimonial-readmore a:hover {
    color: #fff;
}
a {
    color: #23bcb9;
}

a:hover {
    color: #23bcb9;
}
.entry-content h2 {
    color: #23bcb9;
}
.entry-content h4 {
    color: #23bcb9;
}
.entry-content h3 {
    color: #23bcb9;
}

.pricing-column {
    margin-top: 50px;
}
.list-price-total-number{
    font-size: 45px;
    margin-bottom: 48px;
    margin-top: 30px;
    line-height: 1em;
    color: #23bcb9;
}
.list-price .list-price-item:hover .price-item-wraper {
    background-color: #fff;
}
.list-price .list-price-item:hover .price-item-wraper .list-price-title {
   color: #4a454b;
}
.list-price .list-price-item:hover .price-item-wraper ul.description li {
    color: #7a7c82;
    border-bottom: 1px solid #d8d8d9;
}
.list-price .list-price-item:hover .price-item-wraper .short-desc {
    color: #a9a9ab;
}
/*
.input-group {
    display: block;
}
*/
.em-booking-form label {
    width: 100%;
}
.em-booking-form-details input.input, .em-booking-form-details textarea {
    width: 100%;
}
.cta-title {
    font-size: 19px;
    line-height: 36px;
    color: #23bcb9;
    font-family: Roboto Slab;
    font-weight: 400;
    margin-right: 5px;
}
.cta-button {
    width: 100%;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    background-color: #23bcb9;
    border: 1px solid #23bcb9;
    padding: 4px 32px;
}
.paypal-button {
    width: 100%;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    background-color: #23bcb9;
    border: 1px solid #23bcb9;
    padding: 4px 32px;
}
.paypal-button:hover {
    background-color: #fff;
    color: #23bcb9;
}
.paypal-button-large {
    font-size: 16px;
    line-height: 32px;
}
.cms-fancyboxes-wraper .fancy-style-6 {
    padding: 0 20px 0px 20px;
}
.em-booking-form-details {
     width: 100%;
}

In [6]:
div = soup.find("div", {'class':'entry-content'})
body = div.find_all('p')
for p in body:
  print (p.get_text())

At HPC, we facilitate assessments and coaching with leaders and potential leaders on a regular basis. We work with individuals from diverse backgrounds and with both males and females. Recently, we facilitated Work Behavior Inventory assessments with a group of organizational leaders. We noticed a trend in one component of the assessment – Conscientiousness. More often than not, males scored considerably lower in conscientiousness, which measures achievement, initiative, persistence, attention to detail, dependability, and rule-following. It is worth noting that most males were self-aware.

This prompted our team to discuss the idea that maybe there are common gender trends in assessments. Pew Research Center surveyed and published some information that was enlightening.
According to the research, which surveyed the public on their views of leaders, the public is much more likely to see women as being more organized than men, rather than vice versa. Fully 48% say being organized is more true of women than men, while only 4% say this quality is found more in men than women (46% say it’s true of both).
Women were also seen as more compassionate. The survey also said:
Women have an advantage over men when it comes to honesty—one of the most crucial leadership traits, according to the public. Some 29% of all adults associate honesty more with women than men, while 3% say honesty applies more to men than women. A majority of adults (67%) say this characteristic is displayed equally by men and women.
Read more about Pew Research Center’s findings here: What Makes a Good Leader, and Does Gender Matter?
Regardless if there is a trend or not, we think self-awareness is key for good leaders, both male and female. During our coaching sessions, we discuss trends in strengths and areas for development and work with leaders to create a game plan for development.
Do you have leaders or high-potential employees who would benefit from an assessment and coaching? Reach out to us today for more information.

### 6.2 성별 간 교육 수준 차이에 대한 증거

In [8]:
# 대학원, 박사과정 비율 : 여 > 남
import requests
import urllib
from bs4 import BeautifulSoup 
url = 'https://www.aei.org/carpe-diem/women-earned-the-majority-of-doctoral-degrees-in-2020-for-the-12th-straight-year-and-outnumber-men-in-grad-school-148-to-100/'
headers = {'User-Agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36'}
res = requests.get(url, headers = headers)
res.raise_for_status()
soup = BeautifulSoup(res.text, 'lxml')

In [11]:
imgs2 = soup.find_all('figure',attrs = {"class" : "aligncenter is-resized"})

In [12]:
imgs2

[<figure class="aligncenter is-resized"><a href="https://www.aei.org/wp-content/uploads/2021/10/Grad1.png?x91208"><img alt="" class="wp-image-1008612719" height="503" src="https://www.aei.org/wp-content/uploads/2021/10/Grad1.png?x91208" width="667"/></a></figure>,
 <figure class="aligncenter is-resized"><a href="https://www.aei.org/wp-content/uploads/2021/10/Grad2.png?x91208"><img alt="" class="wp-image-1008612720" height="489" src="https://www.aei.org/wp-content/uploads/2021/10/Grad2.png?x91208" width="667"/></a></figure>,
 <figure class="aligncenter is-resized"><a href="https://www.aei.org/wp-content/uploads/2021/10/Grad3.png?x91208"><img alt="" class="wp-image-1008612721" height="503" src="https://www.aei.org/wp-content/uploads/2021/10/Grad3.png?x91208" width="664"/></a></figure>]

In [13]:
div = soup.find("div", {'class':'the-content post-max-width'})
body = div.find_all('p')
for p in body:
  print (p.get_text())

The Council of Graduate Schools (CGS) released its annual report today on US graduate school enrollment and degrees for 2020 and this is an update of my annual post are the striking gender differences in graduate school enrollment and degrees.
1. For the 12th year in a row, women earned a majority of doctoral degrees awarded at US universities in 2020. Of the 76,111 doctoral degrees awarded in 2020 (Table B.25), women earned 40,037 of those degrees and 53.1% of the total, compared to 35,368 degrees awarded to men who earned 46.9% of the total (see top chart above). For every 100 men earning a doctoral degree last year, there were more than 113 female graduates. Women have now earned a majority of doctoral degrees in each academic year since 2008-2009, and the 53.1% female share last year is a new record-high. Previously, women started earning a majority of associate’s degrees for the first time in 1978, a majority of master’s degrees in 1981, and a majority of bachelor’s degrees in 1982 according to the Department of Education. Therefore, 2009 marked the year when men officially became the “second sex” in higher education by earning a minority of college degrees at all college levels from associate’s degrees to doctoral degrees. By overall enrollment in higher education men have been an underrepresented minority for more than 40 years since the late 1970s.
2. By field of study, women earning doctoral degrees in 2020 outnumbered men in 7 of the 11 graduate fields tracked by the CGS (see top chart above): Arts and Humanities (51.8% female), Biology (a new record-high 53.8% share in one of the main STEM fields, despite the frequent narrative that females are significantly under-represented in STEM), Education (67.8%), Health and Medical Sciences (71.4%, isn’t that another STEM field?), Public Administration (76.2%), Social and Behavioral Studies (61.3%) and Other Fields (53.2%). Men still earned a majority of 2020 doctoral degrees in the four fields of Business (53.3% male), Engineering (75.1%), Math and Computer Science (74.2%), and Physical and Earth Sciences (65.0%).
3. The middle chart above shows the gender breakdown for master’s degrees awarded in 2020 (from Table B.24) and the gender disparity in favor of females is significant – women earned more than 60% of all master’s degrees in 2020 setting a new record high female share, which would also mean that women earned almost 151 master’s degrees last year for every 100 degrees earned by men. Like for doctoral degrees, women outnumbered men in the same 7 out of the 11 fields of graduate study and in some of those fields, the gender disparity was huge. For example, women earned 421 master’s degrees in health and medical sciences for every 100 men, 408 master’s degrees in public administration for every 100 men, and 350 master’s degrees in education for every 100 men.
4. The bottom chart above displays total graduate enrollment in fall 2020 by gender and field for all graduate school programs in the US (certificate, master’s, and doctoral degrees from Table B.13), showing that there is a significant gender gap in favor of women for students attending US graduate schools. Women represent nearly 60% of all graduate students in the US (up from 58.5% in 2019), meaning that there are now 148 women enrolled in graduate school for every 100 men. In certain fields like Education (76.2% female), Health and Medical Sciences (78.4% female), and Public Administration (79.0% female), women outnumber men by a factor of three or more. By field of study, women enrolled in graduate school outnumber men in the same 7 out of the 11 graduate fields of study noted above, with females being a minority share of graduate students in only Business (46.5% female), Engineering (27.7% female), Math and Computer Science (32% female), and Physical and Earth Sciences (39.7% female).
MP: Here’s my prediction – the facts that: a) men are underrepresented in graduate school enrollment overall (only 100 men were enrolled in 2020 for every 148 women), b) men received fewer master’s (less than a 40% share of the total) and doctoral degrees (47% of the total) than women in 2020 and c) men were underrepresented in 7 out of 11 graduate fields of study at both the master’s and doctoral levels last year for both degrees and enrollment will get almost no attention at all from feminists, gender activists, women’s centers, the media, universities, or anybody else in the higher education industry.
Additionally, there will be no calls for taxpayer-funded studies or increased taxpayer funding to address the significant gender disparities favoring women in graduate schools, and nobody will refer to the gender graduate school enrollment and degree gaps favoring women as a problem or a national “crisis.” Further, despite their stated commitment to “gender equity,” the hundreds of university women’s centers around the country are unlikely to show any concern about the significant gender inequities in graduate school enrollment and degrees, and universities will not be allocating funding to set up men’s centers or men’s commissions on college campuses or providing funding for graduate scholarships for men to address male significant male under-representation.
Bottom Line: If there is any attention about gender differences in the CGS annual report, it will likely focus on the fact that women are a minority in 4 of the 11 fields of graduate study including engineering and computer science (a gender gap that some consider to be a “national crisis”), with calls for greater awareness of female under-representation in STEM graduate fields of study and careers (except for the two STEM fields of a) biology and b) health and medical sciences, where women have actually been over-represented for decades). But don’t expect any concern about the fact that men have increasingly become the second sex in higher education. The concern about gender imbalances will remain extremely selective, and will only focus on acadmic fields where women, not men, are underrepresented.
Exhibit A: In the CGS report the coverage of gender imbalances was mostly lamenting the underrepresentation of women in STEM, for example (note the tone and bias):
a. Institutions responding to the survey also reported that while women constitute more than three quarters of first-time graduate enrollment in fields of public administration and services (79.5%), health sciences (79.3%), and education (76.8%) in Fall 2020, they comprised much smaller portions of first-time enrollment in the fields of engineering (29.3%), mathematics and computer sciences (33.6%), and physical and earth sciences (44.3%).
b. In Fall 2020, women comprised a larger share of first-time enrollees at the master’s and graduate certificate level (61.4%) than at the doctoral level (57.0%). Although women comprise the majority of  first-time graduate students overall, they were underrepresented at the master’s level in engineering (28.7%), mathematics and computer sciences (33.8%), and business (46.9%). Moreover, men comprised a majority of doctoral first-time enrollees in engineering (68.7%), mathematics and computer sciences (69.5%), and physical and earth sciences (60.5%).
c. The majority of graduate degrees and certificates awarded to women were in education, health sciences, public administration and services, and social and behavioral sciences. However, in many STEM fields, men still earned the majority of graduate degrees and certificates. Men earned about three-fourths of master’s degrees (72.2%) and doctoral degrees (75.1%) in engineering. Similarly, 64.5% of master’s degrees and 74.2% of doctoral degrees in mathematics and computer sciences were earned by men.
To conclude, let me pose a few questions, paraphrasing George Mason University economist Walter E. Williams: If America’s diversity worshipers see any female under-representation as a problem and possibly even as proof of gender discrimination, what do they propose should be done about female over-representation in higher education at every level and in 7 out of 11 graduate fields at the master’s and doctoral degrees? After all, to be logically consistent, aren’t female over-representation and female under-representation simply different sides of gender injustice? I’m sure the armies of diversicrats in higher education who profess to be so committed to diversity, equity, and inclusion won’t see it that way and will continue in their highly selective, inequitable, and one-sided concern about gender disparities favorin men in higher education that are limited to only certain STEM fields.

###6.3 성별에 따른 종교 차이

본인이 Agnostic(불가지론자) 혹은 Atheist(무신론자)라고 답한 응답자 중 남성이 여성보다 많은 수를 차지했다. 특히, 무신론자의 경우 남성의 수가 여성의 수의 약 2배 가까이 된 것으로 확인할 수 있다. 이와 같은 결과는 단지 설문조사에서만 드러난 특이사항이 아니라, 이를 뒷받침해주는 증거가 기사의 한 이미지에 나와있다. 해당 이미지에서도 남성이 여성에 비해 약 2배 가까이 무신론자인 사실이 나타나있다.

In [ ]:
import requests
import urllib
from bs4 import BeautifulSoup 
url = 'https://www.pewresearch.org/religion/2016/03/22/women-more-likely-than-men-to-affiliate-with-a-religion/'
headers = {'User-Agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36'}
res = requests.get(url, headers = headers)
res.raise_for_status()
soup = BeautifulSoup(res.text, 'lxml')

In [ ]:
imgs2 = soup.find('img',attrs = {"class" : "alignright wp-image-25302 size-full"})

In [ ]:
imgs2

<img alt="Atheists more likely to be men in several countries" class="alignright wp-image-25302 size-full" height="432" loading="lazy" sizes="(max-width: 363px) 100vw, 363px" src="https://assets.pewresearch.org/wp-content/uploads/sites/11/2016/03/PF_2016.03.22_gender-01-01.png" srcset="https://www.pewresearch.org/religion/wp-content/uploads/sites/7/2016/03/PF_2016.03.22_gender-01-01.png 363w, https://www.pewresearch.org/religion/wp-content/uploads/sites/7/2016/03/PF_2016.03.22_gender-01-01.png?resize=252,300 252w, https://www.pewresearch.org/religion/wp-content/uploads/sites/7/2016/03/PF_2016.03.22_gender-01-01.png?resize=160,190 160w, https://www.pewresearch.org/religion/wp-content/uploads/sites/7/2016/03/PF_2016.03.22_gender-01-01.png?resize=340,405 340w, https://www.pewresearch.org/religion/wp-content/uploads/sites/7/2016/03/PF_2016.03.22_gender-01-01.png?resize=200,238 200w, https://www.pewresearch.org/religion/wp-content/uploads/sites/7/2016/03/PF_2016.03.22_gender-01-01.png?resize=260,309 260w, https://www.pewresearch.org/religion/wp-content/uploads/sites/7/2016/03/PF_2016.03.22_gender-01-01.png?resize=310,369 310w" width="363"/>