# 연령대 별 특성 분석
연령대 별로 어떠한 특성을 가지고 있는지 분석해보았다.
심리데이터에서 분석한 항목은 다음과 같다.
* Qh_  : 사람들은 재산을 잃는 것보다 부모의 죽음을 더 쉽게 잊는다.
* Qj_  : 사람들은 악랄하며 기회가 주어지면 그 악랄함이 드러난다.
* tp05 : 나는 새롭고 복잡한 경험을 할 준비가 되어있다.
* tp06 : 나는 말수가 적고 조용하다.

In [42]:
# import libraries
import pandas as pd

In [43]:
# read data
data = pd.read_csv("data.csv")
data.head()

,index,QaA,QaE,QbA,QbE,QcA,QcE,QdA,QdE,QeA,...,wr_04,wr_05,wr_06,wr_07,wr_08,wr_09,wr_10,wr_11,wr_12,wr_13
0,0,3.0,363,4.0,1370,5.0,997,1.0,1024,2.0,...,0,1,0,1,1,0,1,0,1,1
1,1,5.0,647,5.0,1313,3.0,3387,5.0,2969,1.0,...,1,1,0,1,1,0,1,0,1,1
2,2,4.0,1623,1.0,1480,1.0,1021,4.0,3374,5.0,...,1,1,0,1,1,1,1,0,1,1
3,3,3.0,504,3.0,2311,4.0,992,3.0,3245,1.0,...,0,0,0,0,1,0,1,0,1,1
4,4,1.0,927,1.0,707,5.0,556,2.0,1062,1.0,...,1,1,1,1,1,0,1,1,1,1

In [44]:
# choose needed columns
# my data: Qh_, Qj_, tp05, tp06 
data = data.loc[:, ['age_group', 'QhA', 'QhE', 'QjA', 'QjE', 'tp05', 'tp06']]
data.head()

  age_group  QhA   QhE  QjA   QjE  tp05  tp06
0       30s  4.0  1095  4.0  1287     2     1
1       20s  1.0  4082  3.0  1264     1     2
2       30s  1.0  1016  2.0  1569     3     4
3       20s  3.0  2275  4.0  5614     1     3
4       20s  1.0  1259  5.0  1388     0     2

In [45]:
# check null data
data.info()
data.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45532 entries, 0 to 45531
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age_group  45532 non-null  object
 1   QhA        45532 non-null  float64
 2   QhE        45532 non-null  int64
 3   QjA        45532 non-null  float64
 4   QjE        45532 non-null  int64
 5   tp05       45532 non-null  int64
 6   tp06       45532 non-null  int64
dtypes: float64(2), int64(4), object(1)
memory usage: 2.4+ MB

age_group    0
QhA          0
QhE          0
QjA          0
QjE          0
tp05         0
tp06         0
dtype: int64

## 주어진 문항에 대한 연령대 별 분석

---

### Q1: 사람들은 재산을 잃는 것보다 부모의 죽음을 더 쉽게 잊는다.
* 1: Disagree ~ 5: Agree
* 50s는 50대 이상의 데이터를 포함

In [46]:
pivot = pd.pivot_table(data = data, index = "age_group", columns = "QhA", aggfunc = "size", fill_value = 0)
pivot.loc['50s'] = pivot.loc['+70s'] + pivot.loc['60s'] + pivot.loc['50s']
pivot = pivot.drop(['60s', '+70s'])
pivot['Total'] = pivot.sum(axis=1)
for i in range(1, 6):
    pivot.loc[f'{i}0s'] = pivot.loc[f'{i}0s']/pivot['Total'][f'{i}0s']
pivot

QhA             1.0       2.0       3.0       4.0       5.0  Total
age_group
10s        0.397890  0.175167  0.149138  0.149279  0.128526      1
20s        0.428784  0.164257  0.140448  0.135133  0.131378      1
30s        0.485707  0.146376  0.124553  0.120470  0.122894      1
40s        0.547020  0.129281  0.109087  0.112057  0.102554      1
50s        0.543075  0.129921  0.098194  0.111857  0.116952      1

* 연령대가 올라갈수록 돈보다 부모의 안위를 생각함을 알 수 있다.
* 10대, 20대는 돈을 더 중요시하는 경향이 있다.

---

### Q2: 사람들은 악랄하며 기회가 주어지면 그 악랄함이 드러난다.
* 1: Disagree ~ 5: Agree
* 50s는 50대 이상의 데이터를 포함

In [47]:
pivot = pd.pivot_table(data = data, index = "age_group", columns = "QjA", aggfunc = "size", fill_value = 0)
pivot.loc['50s'] = pivot.loc['+70s'] + pivot.loc['60s'] + pivot.loc['50s']
pivot = pivot.drop(['60s', '+70s'])
pivot['Total'] = pivot.sum(axis=1)
for i in range(1, 6):
    pivot.loc[f'{i}0s'] = pivot.loc[f'{i}0s']/pivot['Total'][f'{i}0s']
pivot

QjA             1.0       2.0       3.0       4.0       5.0  Total
age_group
10s        0.073233  0.127119  0.127612  0.312065  0.359972      1
20s        0.083050  0.140873  0.110899  0.321925  0.343254      1
30s        0.119193  0.159775  0.107580  0.307427  0.306023      1
40s        0.171253  0.174619  0.093843  0.306276  0.254009      1
50s        0.258916  0.177629  0.088930  0.267717  0.206809      1

* 연령대가 올라갈수록 사람의 본성은 선하다고 보는 경향이 있다.
* 10대, 20대는 기회만 된다면 사람의 악한 본성이 나온다고 보는 비율이 높다.

---

### Q3: 나는 새롭고 복잡한 경험을 할 준비가 되어있다.
* 0: Agree ~ 6: Disagree
* 7: No response
* 50s는 50대 이상의 데이터를 포함

In [48]:
pivot = pd.pivot_table(data = data, index = "age_group", columns = "tp05", aggfunc = "size", fill_value = 0)
pivot.loc['50s'] = pivot.loc['+70s'] + pivot.loc['60s'] + pivot.loc['50s']
pivot = pivot.drop(['60s', '+70s'])
pivot['Total'] = pivot.sum(axis=1)
for i in range(1, 6):
    pivot.loc[f'{i}0s'] = pivot.loc[f'{i}0s']/pivot['Total'][f'{i}0s']
pivot

tp05,0,1,2,3,4,5,6,7,Total
age_group,,,,,,,,,
10s,0.325431,0.281182,0.209216,0.072529,0.063384,0.029757,0.013718,0.004784,1
20s,0.361324,0.294076,0.198696,0.056831,0.051871,0.023030,0.010558,0.003614,1
30s,0.355794,0.305641,0.190658,0.056151,0.051940,0.027565,0.008423,0.003828,1
40s,0.353197,0.322114,0.173629,0.050089,0.054445,0.028509,0.008513,0.009503,1
50s,0.341593,0.350162,0.144975,0.051876,0.045855,0.031264,0.012506,0.021769,1

* 새롭고 복잡한 경험을 할 준비가 되었는지에 대한 질문에, 연령대 별 유의미한 차이는 발견할 수 없었다.

---

### Q4: 나는 말수가 적고 조용하다.
* 0: Agree ~ 6: Disagree
* 7: No response
* 50s는 50대 이상의 데이터를 포함

In [49]:
pivot = pd.pivot_table(data = data, index = "age_group", columns = "tp06", aggfunc = "size", fill_value = 0)
pivot.loc['50s'] = pivot.loc['+70s'] + pivot.loc['60s'] + pivot.loc['50s']
pivot = pivot.drop(['60s', '+70s'])
pivot['Total'] = pivot.sum(axis=1)
for i in range(1, 6):
    pivot.loc[f'{i}0s'] = pivot.loc[f'{i}0s']/pivot['Total'][f'{i}0s']
pivot

tp06,0,1,2,3,4,5,6,7,Total
age_group,,,,,,,,,
10s,0.217939,0.193247,0.208301,0.090257,0.096096,0.095181,0.093915,0.005065,1
20s,0.219246,0.192885,0.209821,0.089923,0.103104,0.089782,0.091199,0.004039,1
30s,0.170878,0.183257,0.212098,0.094308,0.114982,0.108984,0.111409,0.004084,1
40s,0.152841,0.175807,0.204514,0.089685,0.113839,0.126114,0.129281,0.007919,1
50s,0.141038,0.196156,0.191755,0.088467,0.096572,0.128069,0.136174,0.021769,1

* 연령대가 올라갈수록 자기 자신이 말수가 많아지고 조용하지 않다고 생각하는 경향이 있다.
* 10대, 20대는 자기 자신이 말수가 적고 조용하지 않다고 생각하는 경향이 있다.

---

## 연령대 별 분석 결과
* 나이가 적을수록 부모의 안위보다 돈을 더 우선시하는 경향이 있다.
* 나이가 적을수록 인간의 악한 본성이 나온다고 생각하는 경향이 있다.
* 나이가 적을수록 자기 자신이 말수가 적고 조용하다고 생각하는 경향이 있다.
* 복잡하고 새로운 경험을 하는 데에 있어선 나이에 상관이 없었다.

## To do
TBD